&lt;div class=&quot;tags&quot; stle=&quot;border: 2px;&quot;&gt;
	&lt;a href=&quot;#&quot; class=&quot;tag&quot;&gt;Elina Esimerkki&lt;/a&gt;
	&lt;a href=&quot;#&quot; class=&quot;tag&quot;&gt;Syksy Tyrskynen&lt;/a&gt;
	&lt;a href=&quot;#&quot; class=&quot;tag&quot;&gt;Mikko Mallikas&lt;/a&gt;
	&lt;textarea href=&quot;#&quot; class=&quot;newtag&quot; placeholder=&quot;new person&quot;&gt;&lt;/textarea&gt;
&lt;/div&gt;
