<div class="l-constrained notifications-list">
	
	<div class="media notification">
		<figure class="media__img">
	 		<img class="img--round" src="{{ img.thumb.src }}" alt="{{ img.square.alt }}" />
	    </figure>
	    <div class="media__body">
			<h2 class="c-base gamma notification__title">Title</h2>
	   		<span class="notification__meta">21, 345 following</span>
	   </div>
	</div>

	<div class="media notification">
		<figure class="media__img">
	 		<img class="img--round" src="{{ img.thumb.src }}" alt="{{ img.square.alt }}" />
	    </figure>
	    <div class="media__body">
			<h2 class="c-base gamma notification__title">Title</h2>
	   		<span class="notification__meta">21, 345 following</span>
	   </div>
	</div>


</div>