&lt;div class=&quot;page&quot;&gt;

	{{&gt; organisms-header }}

	&lt;div class=&quot;wrap text--center&quot;&gt;
		{{&gt; atoms-tabs}}
	&lt;/div&gt;

	{{&gt; organisms-notification-list }}

&lt;/div&gt;