<ul class="nav tabs">
    <li><a class="tab-alt tab-alt--active" href="#">Active</a></li>
    <li><a class="tab-alt" href="#">Passive</a></li>
    <li><a class="tab-alt" href="#">Passive</a></li>
</ul>