<ul class="bare-list nav tabs">
    <li><a class="tab tab--active" href="#">Active</a></li>
    <li><a class="tab" href="#">Passive</a></li>
    <li><a class="tab" href="#">Passive</a></li>
    <li class="tabs__search"><a href="#"><i class="icon-search"></i></a></li>
</ul>
