<ul class="bare-list nav tags">
    <li><a class="tag tag--positive" href="#">Agree</a></li>
    <li><a class="tag tag--negative" href="#">Disagree</a></li>
    <li><a class="tag" href="#">Lorem ipsum</a></li>
</ul>
