<div class="btn-group">
    <button class="btn">Button</button>
    <button class="btn">Button</button>
</div>
<hr />
<div class="btn-group">
    <button class="btn">Button</button>
    <button class="btn">Button</button>
    <button class="btn">Button</button>
</div>
