<div class="full-article box bc-white">

	<header class="sticky">

		<div class="clearfix">

			<figure class="comment__img">
				<i class="icon-legal"></i>
			</figure>

			<ul class="bare-list article-actions">

				<li>
					<a href="#" class="btn-text fixed-only"><i class="icon-legal"></i> Vote <i class="icon-double_angle_down"></i></a>
				</li>

			</ul>

			<h2>Energiaremontti 2050</h2>

			<div class="full-article__meta">

				<i class="icon-avatar"></i> <a href="#">5 editors</a> <i class="icon-pencil"></i> <time>About an hour ago</time> <i class="icon-group"></i> <a href="#">Suomen uusenergiset</a>

			</div><!-- end full-article__meta -->

		</div>

		<div class="excerpt">
			Käynnistetään energiaremontti, joka tähtää siihen, että Suomi siirtyy käyttämään ainoastaan uusiutuvaa energiaa vuoteen 2050 mennessä.
		</div>

		{{> molecules-renewable-energy-invites }}

		{{> molecules-renewable-energy-tags }}

		{{> molecules-general-actions }}

	</header>

	<div class="full-article__body">

		{{> molecules-article-image-renewable-energy }}

		<p>
		Sähkön- ja lämmöntuotannossa täysin uusiutuvalla energialla toimivaan järjestelmään siirrytään vuoteen 2035 mennessä. Päätös ei koske ydinvoimaloita, joista periaatepäätös on jo tehty. Laaditaan energiastrategia, jossa muutokseen tarvittava polku linjataan. Käynnistetään toimenpideohjelma, jolla kivihiilestä sähkön- ja lämmöntuotannossa luovutaan 2025 mennessä. Energiaremontissa korostuvat energiatehokkuuden parantaminen, uusiutuvan energian tuotanto, kestävyys sekä älykkäiden järjestelmien käyttöönotto sekä cleantech-viennin kasvu.
		</p>

		<h3>
		Perusteet:
		</h3>

		<p>
		Energiamarkkinat Euroopassa ja maailmalla ovat rajujen muutosten edessä. Tämä haastaa vanhat toimijat, kuten Suomessakin on viime vuosina nähty ja toisaalta avaa suuria mahdollisuuksia uusien ratkaisujen tuottajille.
		</p>

		<p>
		IEA ennakoi energiamurroksen luovan maailmanlaajuisesti 35 000 miljardin euron kumulatiivisen markkinan seuraavan 20 vuoden aikana. Tämä tarkoittaa valtavaa kysyntää erityisesti uusiutuvan energiantuotannon, energiatehokkuuden ja älykkäiden järjestelmien ratkaisuille. Komissio on arvoinut, että vihreään talouteen voitaisiin luoda Euroopassa jopa 20 miljoonaa työpaikkaa vuoteen 2020 mennessä. 
		</p>

		<p>
		Menestyäkseen yritykset tarvitsevat toimivat kotimarkkinat. Uudet työpaikat syntyvätkin sinne, missä uuden energian ratkaisuja hyödynnetään. Suomen nykyinen energiapolitiikka on johtanut siihen, että kansainvälisessä uusiutuvan energian investointiympäristöjen vertailussa sijoitumme heikosti, mistä johtuen investoinnit ja työpaikat Suomeen jäävät syntymättä.
		</p>

		<p>
		Toimintaympäristön muutokseen voidaan vastata kirkastamalla energiapolitiikan tavoite ja käynnistämällä energiaremontti. Toteutuessaan energiaremontti parantaisi vaihtotasetta miljardeilla sekä lisäisi nopeasti taloudellista toimeliaisuutta ja työpaikkoja. Toteutuessaan energiaremontti parantaisi myös merkittävästi suomalaisten energiateknologiayritysten kilpailukykyä nopeasti kasvavilla globaaleilla markkinoilla. Myönteisten talousvaikutusten lisäksi energiaremontti nostaisi Suomen kärkijoukkoihin ilmastonmuutoksen vastaisessa taistelussa, minimoisi uusiutumattoman energian ympäristöhaitat ja riskit sekä rakentaisi vahvaa Suomi-brändiä.
		</p>

		<p>
		Energia- ja teknologiamarkkinoilla toimiville yrityksille politiikan pitkäjänteisyys on tärkeää. Pitkäjänteisyys syntyy ainoastaan katsomalla tulevaisuuteen. Ainoa kansainvälisesti uskottava pitkän aikavälin tavoitetila modernille energiajärjestelmälle on suuntautuminen täysin uusiutuvaan energiaan. Asettamalla selvät määräajat järjestelmän eri osien irrottamiseksi uusiutumattomasta energiasta, Suomi voi antaa markkinoille riittävän vahvan signaalin investointien houkuttelmiseksi ja innovaatioiden ruokkimiseksi.
		</p>

		<h3>
		Energiaremontti käynnistyy välittömästi seuraavilla askeleilla:
		</h3>
		<ol>
			<li>
			Merkittäviä investointeja uusiutumattomaan energiantuotantoon ei enää tehdä. Kaikkien energiainvestointien on tähdättävä täysin uusiutuvilla toimivaan järjestelmään.
			</li>
			<li>
			Vuoden 2020 ja 2030 tavoitteita päivitetään reippaasti ylöspäin
			<ul>
				<li>
				Energiatehokkuus: olemassa olevat kiinteistöt, teollisuus ja liikenne

				</li>
				<li>
				Tuotanto: tuuli, aurinko, bio ja lämpöpumput

				</li>
				<li>
				Älykkäät järjestelmät: älykäs sähköverkko, energian varastointi ja älykäs liikenne
				</li>

			</ul>
			</li>
			<li>
			Fossiilisen energian tuotannon ja kulutuksen tukeminen lopetetaan.
			</li>
			<li>
			Lähienergian esteet poistetaan.
			</li>
		</ol>

	</div>

</div>
