<div class="full-article box bc-white">

	<header class="sticky">

		<div class="clearfix">

			<figure class="comment__img">
				<i class="icon-legal"></i>
			</figure>

			<ul class="bare-list article-actions">

				<li>
					<a href="#" class="btn"><i class="icon-pencil"></i> Edit<i class="count c-white bc-comp--light" title="Number of edits">3</i></a>
				</li>

			</ul>

			<h2>Argumented article title og:title max 95 chars</h2>

			<div class="full-article__meta">

				<i class="icon-avatar"></i> <a href="#">5 editors</a> <i class="icon-pencil"></i> <time>About an hour ago</time> <i class="icon-group"></i> <a href="#">Groupname</a>

			</div><!-- end full-article__meta -->

		</div>

		<div class="excerpt">

			{{ excerpt.medium }}
			
		</div>

		{{> molecules-tags }}

		{{> molecules-general-actions }}

	</header>

	<div class="full-article__body">

		{{> molecules-article-image }}

		<p>
		{{ excerpt.long }}
		</p>

		<p>
		{{ excerpt.medium }}
		</p>

		<p>
		{{ excerpt.long }}
		</p>

		<p>
		{{ excerpt.medium }}
		</p>

		<p>
		{{ excerpt.long }}
		</p>

		<p>
		{{ excerpt.medium }}
		</p>

		<p>
		{{ excerpt.long }}
		</p>

		<p>
		{{ excerpt.medium }}
		</p>

	</div>

	<div class="full-article__comments">

		<header>

			<h3>Discussion</h3>

			{{> atoms-tabs-with-search }}

		</header>

		<div class="create-new">

			{{> molecules-comment-field-argumentation }}

		</div>

		<div class="grid">

			<div class="g g--half">

				<h3>Agree</h3>

				{{> molecules-stream-item }}

				{{> molecules-stream-item }}

				{{> molecules-stream-item }}

				{{> molecules-stream-item }}

				{{> molecules-stream-item }}

				{{> molecules-stream-item }}

				{{> molecules-stream-item }}

				{{> molecules-stream-item }}

			</div>

			<div class="g g--half">

				<h3>Disagree</h3>

				{{> molecules-stream-item }}

				{{> molecules-stream-item }}

				{{> molecules-stream-item }}

				{{> molecules-stream-item }}

				{{> molecules-stream-item }}

				{{> molecules-stream-item }}

				{{> molecules-stream-item }}

				{{> molecules-stream-item }}

			</div>


		</div>

		<div class="pagination"><a href="#" class="btn btn-text">Load more</a></div>

	</div>

</div>



