<div class="actions-general">

	<a href="#" title="More actions: share, flag as inappropriate">...</a>
	<a href="#"><i class="fa fa-comments"></i> 23</a>
	<a href="#"><i class="icon-plus"></i> 35</a>

</div>