<div class="comment__actions actions-general">

	<span><a href="#" title="More actions, such as share and flag as inappropriate">+</a></span>
	<span class="comment-toggle js-comment-toggle">Comment <i class="fa fa-comments"></i></span>
	<span class="like-toggle js-like-toggle">Like <i class="fa fa-thumbs-o-up"></i></span>

</div>