<div class="tags">
	<a href="#" class="tag">Elina Esimerkki</a>
	<a href="#" class="tag">Syksy Tyrskynen</a>
	<a href="#" class="tag">Mikko Mallikas</a>
	<textarea class="newtag" placeholder="new person"></textarea>
</div>
