<div class="tags">
    Tags:
	<a href="#" class="tag">Uusiutuva energia</a>
	<a href="#" class="tag">Ilmastonmuutos</a>
	<a href="#" class="tag">Uusi talous</a>
	<textarea class="newtag" placeholder="Tag"></textarea>
</div>
