<!--
<div class="tags">
	<table class="invited">
	<thead>
	<tr>
	<th>Invited</th>
	</tr>
	</thead>
	<td><a href="#" class="tag">Elina Esimerkki</a></td>
	<td><a href="#" class="tag">Syksy Tyrskynen</a></td>
	<td><a href="#" class="tag">Mikko Mallikas</a></td>
	<td><textarea class="newtag" placeholder="new person"></textarea></td>
	</tr>
	</table>
</div>
-->
<div class="tags">
	Invited:
	<a href="#" class="tag">Elina Esimerkki</a>
	<a href="#" class="tag">Syksy Tyrskynen</a>
	<a href="#" class="tag">Mikko Mallikas</a>
	<textarea class="newtag" placeholder="Person"></textarea>
</div>
