<div class="tags">

	<a href="#" class="tag">Uusiutuva energia</a>
	<a href="#" class="tag">Ilmastonmuutos</a>
	<a href="#" class="tag">Uusi talous</a>
	<textarea href="#" class="newtag" placeholder="next tag"></textarea>

</div>
