<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

		<link rel="dns-prefetch" href="//ajax.googleapis.com">

		<!-- Loading scripts via ajax -->

		<script type="text/javascript">
		  WebFontConfig = {
		     google: { families: [ 'Muli:400,400italic:latin', 'Comfortaa:400,700:latin,latin-ext' ] }
		  };
		  (function() {
		    var wf = document.createElement('script');
		    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
		      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
		    wf.type = 'text/javascript';
		    wf.async = 'true';
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(wf, s);
		  })(); </script>

		 <script>
		/*!
		loadCSS: load a CSS file asynchronously.
		[c]2014 @scottjehl, Filament Group, Inc.
		Licensed MIT
		*/
		/*
		function loadCSS( href, before, media ){
			"use strict";
			// Arguments explained:
			// `href` is the URL for your CSS file.
			// `before` optionally defines the element we'll use as a reference for injecting our <link>
			// By default, `before` uses the first <script> element in the page.
			// However, since the order in which stylesheets are referenced matters, you might need a more specific location in your document.
			// If so, pass a different reference element to the `before` argument and it'll insert before that instead
			// note: `insertBefore` is used instead of `appendChild`, for safety re: http://www.paulirish.com/2011/surefire-dom-element-insertion/
			var ss = window.document.createElement( "link" );
			var ref = before || window.document.getElementsByTagName( "script" )[ 0 ];
			ss.rel = "stylesheet";
			ss.href = href;
			// temporarily, set media to something non-matching to ensure it'll fetch without blocking render
			ss.media = "only x";
			// inject link
			ref.parentNode.insertBefore( ss, ref );
			// set media back to `all` so that the stylesheet applies once it loads
			setTimeout( function(){
				ss.media = media || "all";
			} );
			return ss;
		 }

		 loadCSS( "http://fonts.googleapis.com/css?family=Comfortaa:400,700" );

		 </script>


		<!--link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" /-->

		<!--link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/-->


		<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="../../assets/css/main.css?{{ cacheBuster }}" media="all" />
		<!--<![endif]-->

		<!--[if lte IE 8]>
			<link rel="stylesheet" href="../../assets/css/min/ie.min.css">
		<![endif]-->


		<!-- Scripts -->

		<script src="../../assets/js/vendor/modernizr.min.js"></script>


		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{% pattern-lab-head %}
		<!-- End Pattern Lab -->

	</head>
	<body class="{{ bodyClass }}">
