<!DOCTYPE html>
<html class="{{ htmlClass }}" ng-app="app">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<link rel="dns-prefetch" href="//ajax.googleapis.com">

		 <script>
		/*!
		loadCSS: load a CSS file asynchronously.
		[c]2014 @scottjehl, Filament Group, Inc.
		Licensed MIT
		*/

		function loadCSS( href, before, media ){
			"use strict";
			var ss = window.document.createElement( "link" );
			var ref = before || window.document.getElementsByTagName( "script" )[ 0 ];
			ss.rel = "stylesheet";
			ss.href = href;
			ss.media = "only x";
			ref.parentNode.insertBefore( ss, ref );
			setTimeout( function(){
				ss.media = media || "all";
			} );
			return ss;
		 }

		 loadCSS( "http://fonts.googleapis.com/css?family=Comfortaa:400,700" );
		 loadCSS( "../../assets/css/fonts.css" );

		 </script>


		<!--link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" /-->

		<!--link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/-->


		<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="../../assets/css/main.css?{{ cacheBuster }}" media="all" />
		<!--<![endif]-->

		<!--[if lte IE 8]>
			<link rel="stylesheet" href="../../assets/css/min/ie.min.css">
		<![endif]-->


		<!-- Scripts -->

		<script src="../../assets/js/vendor/modernizr.min.js"></script>


		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{% pattern-lab-head %}
		<!-- End Pattern Lab -->

	</head>
	<body class="{{ bodyClass }}">
