
	<script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>

	<script src='../../assets/js/vendor/angular.min.js'></script>

	<script src='../../assets/js/main.js'></script>

	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}

	</body>
</html>
