&lt;div class=&quot;discussion box bc-white&quot;&gt;

	{{&gt; molecules-comment}}

	{{&gt; molecules-comment}}

	{{&gt; molecules-comment}}

	{{&gt; molecules-comment}}

	{{&gt; molecules-comment}}

&lt;/div&gt;