&lt;div class=&quot;discussion box bc-white&quot;&gt;

	{{&gt; molecules-discussion-comment}}

	{{&gt; molecules-discussion-comment}}

	{{&gt; molecules-discussion-comment}}

	{{&gt; molecules-discussion-comment}}

	{{&gt; molecules-discussion-comment}}

	{{&gt; molecules-discussion-comment}}

	{{&gt; molecules-comment-field}}

&lt;/div&gt;
