&lt;div class=&quot;media&quot;&gt;
	&lt;figure class=&quot;media__img--rev&quot;&gt;
 		&lt;img class=&quot;img--round&quot; src=&quot;{{ img.thumb.src }}&quot; alt=&quot;{{ img.square.alt }}&quot; /&gt;
    &lt;/figure&gt;
    &lt;div class=&quot;media__body&quot;&gt;
		&lt;h2&gt;Title&lt;/h2&gt;
   		&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt;/p&gt;
   &lt;/div&gt;
&lt;/div&gt;