&lt;blockquote&gt;
	&lt;p&gt;For intros that needs highlighting, or a blockquote, make it Muli 20px, bold in subheader color. (A block quotation is a quotation in a Article, that is set off from the main text as a paragraph,should be distinguished visually using indentation and different font types to highlight it. It serves as an intro paragraph. To bring in the reader grab attention.)  - Article OG Description 297 chars&lt;/p&gt;
&lt;/blockquote&gt;