&lt;blockquote&gt;
	&lt;p&gt;A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation, different font size or other visual elements to highlight it. It could also serve as an intro paragraph to a text, to bring in the reader with some first, attention grabbing sentences.&lt;/p&gt;
&lt;/blockquote&gt;