<ul class="bare-list nav nav-settings">
    <li class="nav__item"><a href="#"><i class="icon icon-avatar"></i><span>Firstname Lastname</span></a></li>
    <li class="nav__item"><a href="#"><i class="icon icon-word"></i></a></li>
</ul>
