<form class="form--login">

	<div class="form-row">
		<input type="email" placeholder="Email" />
	</div>

	<div class="form-row">
		<a class="float--right pw-forgot" href="#">Forgot password?</a>
		<input type="password" placeholder="Password" />
	</div>

	<div class="form-row">
		<input type="submit" class="btn" value="Sign in" />
	</div>

	<div class="form-row text--center">
			<span class="signup-intro">Don't have an account?</span>
			<a class="sign-up btn" href="#">Sign Up</a>
	</div>

</form>
