&lt;div class=&quot;actions-general&quot;&gt;

	&lt;a href=&quot;#&quot; title=&quot;More actions: share, flag as inappropriate&quot;&gt;...&lt;/a&gt;
	&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-comments&quot;&gt;&lt;/i&gt; 23&lt;/a&gt;
	&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-plus&quot;&gt;&lt;/i&gt; 35&lt;/a&gt;

&lt;/div&gt;