<div class="argumenting box bc-white">

	{{> molecules-discussion-comment}}

	<div class="grid block--large">

		<div class="g g--half">

			{{> molecules-discussion-comment}}
			{{> molecules-discussion-comment}}
			{{> molecules-discussion-comment}}

		</div>

		<div class="g g--half">

			{{> molecules-discussion-comment}}
			{{> molecules-discussion-comment}}
			{{> molecules-discussion-comment}}

		</div>

	</div>

	<div class="grid">

		<div class="g g--half block--large text--right">
         	<i class="icon-avatar_circle"></i>
			<div class="btn-group">
				<button class="btn">Agree</button>
				<button class="btn">Disagree</button>
			</div>

		</div>

		<div class="g g--half  block--large">

			<div class="comment-field">
				<textarea placeholder="Comment"></textarea>
			</div>

		</div>

	</div>

</div>
