&lt;div class=&quot;wrap--header bc-grey--lightest header--sticky&quot;&gt;

	&lt;header class=&quot;header--login l-constrained clearfix&quot; role=&quot;banner&quot;&gt;

		&lt;a class=&quot;site-logo--small&quot;&gt;
			&lt;img src=&quot;../../assets/img/D-CENT_logo.svg&quot; class=&quot;logo&quot; alt=&quot;Logo Alt Text&quot; /&gt;
		&lt;/a&gt;

		{{&gt; organisms-navigation }}

		&lt;div class=&quot;login&quot;&gt;

			{{&gt; organisms-registration }}

		&lt;/div&gt;

	&lt;/header&gt;

&lt;/div&gt;
