&lt;ul class=&quot;nav tabs&quot;&gt;
    &lt;li&gt;&lt;a class=&quot;tab tab--active&quot; href=&quot;#&quot;&gt;Active&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class=&quot;tab&quot; href=&quot;#&quot;&gt;Passive&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class=&quot;tab&quot; href=&quot;#&quot;&gt;Passive&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;ul class=&quot;nav tabs&quot;&gt;
    &lt;li&gt;&lt;a class=&quot;tab-alt tab-alt--active&quot; href=&quot;#&quot;&gt;Active&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class=&quot;tab-alt&quot; href=&quot;#&quot;&gt;Passive&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class=&quot;tab-alt&quot; href=&quot;#&quot;&gt;Passive&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;