<div class="settings box">

	<form class="settings__form block--large">

		<div class="grid">

			<div class="g g--half">

				<div class="form-row helper">
					<input type="text" placeholder="Hashtags" />
					<span class="helper__toggle js-helper__toggle">
						<i class="fa fa-question"></i>
					</span>
					<div class="helper__body">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
					</div>
				</div>
				<div class="form-row grid">
					<div class="g g--half">
						Show my real name
					</div>
					<div class="g g--half">
						<div class="btn-group">
							<button class="btn">No</button>
							<button class="btn">Yes</button>
						</div>
					</div>
				</div>
				<div class="form-row grid">
					<div class="g g--half">
						Show current geolocation
					</div>
					<div class="g g--half">
						<div class="btn-group">
							<button class="btn">No</button>
							<button class="btn">Yes</button>
						</div>
					</div>
				</div>
				<div class="form-row">
					<input type="text" placeholder="Phone" />
				</div>

			</div>

			<div class="g g--half">

				<div class="form-row grid">
					<div class="g g--half">
						Time format
					</div>
					<div class="g g--half">
						<input type="text" placeholder="hh.mm.ss" />
					</div>
				</div>
				<div class="form-row grid">
					<div class="g g--half">
						Date format
					</div>
					<div class="g g--half">
						<input type="text" placeholder="dd.mm.yyyy" />
					</div>
				</div>
				<div class="form-row grid">
					<div class="g g--half">
						Time zone
					</div>
					<div class="g g--half">
						<input type="number"  />
					</div>
				</div>

			</div>

		</div><!-- end grid -->

		<div class="registration__action text--right block--large">
			<button class="btn">Save and close</button>
		</div>

	</form>

</div>
