&lt;style&gt;


/*
 * General modifications to styles defined elsewhere
 */

p {
	margin-bottom: 1em;
}
.article__img {
	margin: 0.5em 0.5em 0.25em 0;
}
.comment__img .fa {
	font-size: 28px;
}
.comment__actions &gt; span {
	margin-left: 0.5em;
}
.comment__actions &gt; span:first-child {
	margin-left: 0;
}
.nav-primary {
	width: auto;
}

/*
 * Menu bar and fixed titlebar
 */
.page--with-sticky {
	padding-top: 44px;
}
.header--sticky {
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 20;
}
.nav-primary {
	display: inline-block;
}
.login {
	display: none;
}
.count {
	position: static;
}
header.titlebar-fixed {
	background-color: white;
	border-bottom: solid 1px #666;
	height: 44px !important;
	min-height: 44px !important;
	overflow: hidden !important;
	padding-top: 10px !important;
    position: fixed !important;
    top: 44px !important; /* This is the height + offset of the main menu bar */
    z-index: 10;
}
.fixed-only {
	display: none !important;
}
.titlebar-fixed .fixed-only {
	display: block !important;
}

/*
 * Grid
 */

.g:last-child {
	margin-right: 0;
}
.inactive {
	opacity: 0.25;
	transition: all 0.5s ease-out;
}
:hover.inactive {
	opacity: 1;
}

/*
 * Stream
 * Many of the same styles are also used for the full article view
 */

.stream {
	margin: 1em auto;
	max-width: 30em;
}
.stream h2 {
	font-size: x-large;
}
.stream header .comment__img {
	line-height: 1;
}
.stream .tabs {
	text-align: left;
	width: 100%;
}
.tabs__search {
	float: right;
	font-size: large;
}


/* Header when fixed */
header.titlebar-fixed .comment__img {
	font-size: 120%;
}
header.titlebar-fixed h2 {
	float: left;
	font-size: 120%;
}
header.titlebar-fixed .tabs {
	display: none;
}
header.titlebar-fixed .tabs-as-pulldown {
	float: right;
	text-align: right;
}

/* Stream items */
.stream-item {
	padding-bottom: 1.5em;
	border-bottom: 1px dotted #007E84;
	margin: 1em 0 1.5em 0;
	max-width: 30em;
}
.stream-item:last-child {
	border-bottom-width: 0px;
}
.comment__meta {
	font-size: smaller;
	margin-bottom: 0.5em;
}
.comment__meta .name {
	/* font-size: medium; */
}
.comment__meta a.group-name {
	font-weight: 400;
}
.embedded-item {
	border: solid 1px #007E84;
	border-radius: 6px;
	cursor: pointer;
	padding: 0.5em;
}
div:hover.embedded-item {
	background-color: #eee;
}
.embedded-item__meta {
	font-size: smaller;
}
.embedded-item__meta .embedded-item__title {
	display: block;
	font-size: medium;
}
.embedded-item__meta .action-taken {
	color: #007E84;
}
.embedded-item .article__img {
	clear: left;
	width: 80px;
}
.article-actions {
	text-align: center;
}
.article-actions &gt; li {
	display: inline-block;
}
.article-actions &gt; li &gt; a.btn,
.article-actions &gt; li &gt; a.btn-alt {
	display: block;
	min-width: 7em;
}
div:hover.embedded-item .article-actions &gt; li &gt; a {
	color: #00D3CA;
}
.article-actions i.count {
	position: relative;
	top: -7px;	
}
.event-date {
	border: 1px solid #222;
	padding-bottom: 0.25em;
	text-align: center;
	width: 38px;
}
.event-date__month {
	font-size: x-small;
	text-transform: uppercase;
	background-color: #222;
	color: white;
}
.event-date__day {
	font-size: large;
	color: #222;
}
.tags {
	margin: 0.25em 0;
}
.actions-general {
	text-align: right;
}
.actions-general &gt; a {
	margin: 0 0.5em;
}

.pagination {
	margin-top: 1em;
	text-align: center;
}

/*
 * Full article
 */

.full-article {
	margin: 1em 1em 1em 0;
}


/* Header */
.full-article &gt; header {
    overflow: hidden;
	padding: 0 0 0.5em 0;
	top: 0;
}
.full-article &gt; header,
.full-article &gt; header * {
	transition: all 0.5s ease-out 0s;
}
.full-article &gt; header h2 {
	float: left;
	margin-bottom: 0;
}
.full-article .article-actions {
	float: right;
	margin-top: 0.5em;
}
.full-article__meta {
	float: left;
	font-size: smaller;
	padding-top: 0.25em;
}
.full-article .excerpt {
	clear: both;
	font-size: large;
	font-weight: bold;
	margin: 0.5em 0;
}
.article-type-specifics {
	border: 1px solid #007E84;
	border-radius: 6px;
	clear: both;
	margin-bottom: 0.5em;
	overflow: auto;
	padding: 0.5em;
	text-align: center;
}
.article-type-specifics__intro {
	font-weight: bold;
}
.article-type-specifics .article-actions {
	float: none;
	margin-top: 0.5em;
}
.article-actions__meta {
	font-size: smaller;
	margin-top: 0.25em;
	text-align: center;
}
.article-actions__meta &gt; a{
	margin: 0 0.25em;
}
.full-article header .tags {
	float: left;
}
.full-article header .actions-general {
	float: right;
}

/* Header when fixed */
header.titlebar-fixed .article-actions {
	margin-top: 0;
}
header.titlebar-fixed .excerpt,
header.titlebar-fixed .full-article__meta, 
header.titlebar-fixed .article-type-specifics,
header.titlebar-fixed .tags,
header.titlebar-fixed .actions-general {
	display: none;
}

/* Full article body */
.full-article__body {
	clear: both;
	margin: 1em 0;
}

/* Comments */

.create-new {
	margin: 1em 0;
	text-align: center;
}
.full-article .comment-field {
	margin: 0 0 0.5em 0;
	max-width: 30em;
	text-align: left;
}
.full-article .comment-field &gt; textarea {
	width: 85%;
}
.full-article .comment-field-argumentation {
	max-width: none;
}
	.full-article .comment-field-argumentation &gt; .btn-group {
		float: left;
		margin-right: 1em;
	}
	.full-article .comment-field-argumentation &gt; textarea {
		max-width: 25em;
	}


/*
 * Group page
 */

.group-info header {
	display: table;
	margin: -20px -20px 0.5em -20px;
 	min-height: 300px;
 	width: calc(100% + 40px);
 }
.group-info__container {
	display: table-cell;
	padding: 20px 20px 10px 20px;
	vertical-align: bottom;
}
.group-info h1 {
	color: #eee;
	float: left;
	margin: 0;
}
.group-info .article-actions {
	float: right;
}
.group-info .full-article__meta {
	clear: left;
	color: #eee;
}
.group-info .tags {
	float: left;
}
.group-info .comment-actions {
	float: right;
}
.group-navigation {
	/* border-bottom: 1px solid #666; */
	background-color: #eee;
	clear: both;
	border-radius: 6px;
	font-size: larger;
	margin: 1em 0;
 	padding: 0.25em 0.5em;
}
.group-navigation__label {
	float: left;
	font-family: &quot;Comfortaa&quot;,sans-serif;
	font-weight: bold;
	margin-right: 1.5em;
}
.nav__item-open * {
	color: #007E84;
}


/*
 * Renewable energy hack
 */

.block {
	padding: 0.5em 0;
}
.newtag {
	width: 10em !important;
	height: 1.5em !important;
	padding: 0.25em !important;
}




&lt;/style&gt;

&lt;!-- Repeat this for stuff to work on file: --&gt;
&lt;script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'&gt;&lt;/script&gt;
&lt;script&gt;
/* This crap handles fixing the stream and full article headers on top when
   scrolling past them. A class 'fixed' is then added to them. */
$(document).ready(function() {
	var stickies = [],
	    fixedClass = &quot;titlebar-fixed&quot;,
	    stickySelector = &quot;.sticky&quot;;
	$(stickySelector).each(function(){
		var sticky = $(this);
		sticky.data(&quot;originalOffset&quot;, sticky.offset().top + sticky.outerHeight() );
		// var menuOffset = $(&quot;.header--sticky&quot;).offset().top + $(&quot;.header--sticky&quot;).outerHeight();
		// Force to stay the same width even when position is changed to fixed
		sticky.width(sticky.width());
		stickies.push(sticky);
	});
	if (stickies.length) {
		$(window).scroll(function(){
		    for(var i=0; i&lt;stickies.length; i++) {
				if ($(window).scrollTop() &gt;= stickies[i].data(&quot;originalOffset&quot;)) stickies[i].addClass(fixedClass);
				else stickies[i].removeClass(fixedClass);
			}
		});
	}
});
&lt;/script&gt;


/*
 * Make paragraph mockups clickable and commentable.
 */
&lt;script&gt;
$(document).ready(function() {
	$('.commentable').on('click', function(event) {
		if (event.target === this) {
			var target = $(event.target);
			if (!target.hasClass('being-commented')) {
				target.toggleClass('being-commented');
				var uniqueId = ('' + Math.random()).substr(2);
				var commentId = 'commentId' + uniqueId;
				var commentTextId = 'commentTextId' + uniqueId;
				var buttonId = 'buttonId' + uniqueId;
				var elem = '&lt;div id=&quot;' + commentId + '&quot;&gt;' +
				             '&lt;textarea id=&quot;' + commentTextId + '&quot; placeholder=&quot;Write a comment&hellip;&quot;&gt;&lt;/textarea&gt;' +
				             '&lt;button class=&quot;btn btn-text article-actions&quot; id=&quot;' + buttonId + '&quot;&gt;Save comment&lt;/button&gt;' +
				           '&lt;/div&gt;';
				target.after(elem);
				$('#' + buttonId).on('click', function(saveEvent) {
					$(saveEvent.target).off('click');
					target.toggleClass('being-commented');
					$('#' + commentId).remove();
				});
			}
		}
		event.stopPropagation();
	});
});
&lt;/script&gt;
