&lt;div class=&quot;full-article box bc-white&quot;&gt;

	&lt;header class=&quot;sticky&quot;&gt;

		&lt;div class=&quot;clearfix&quot;&gt;

			&lt;figure class=&quot;comment__img&quot;&gt;
				&lt;i class=&quot;icon-legal&quot;&gt;&lt;/i&gt;
			&lt;/figure&gt;

			&lt;ul class=&quot;bare-list article-actions&quot;&gt;

				&lt;li&gt;
					&lt;a href=&quot;#&quot; class=&quot;btn-text fixed-only&quot;&gt;&lt;i class=&quot;icon-legal&quot;&gt;&lt;/i&gt; Vote &lt;i class=&quot;icon-double_angle_down&quot;&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;a href=&quot;#&quot; class=&quot;btn-text&quot;&gt;&lt;i class=&quot;icon-pencil&quot;&gt;&lt;/i&gt; Edit&lt;i class=&quot;count c-white bc-comp--light&quot; title=&quot;Number of edits&quot;&gt;3&lt;/i&gt;&lt;/a&gt;
				&lt;/li&gt;

			&lt;/ul&gt;

			&lt;h2&gt;Voted article title og:title max 95 chars&lt;/h2&gt;

			&lt;div class=&quot;full-article__meta&quot;&gt;

				&lt;i class=&quot;icon-avatar&quot;&gt;&lt;/i&gt; &lt;a href=&quot;#&quot;&gt;5 editors&lt;/a&gt; &lt;i class=&quot;icon-pencil&quot;&gt;&lt;/i&gt; &lt;time&gt;About an hour ago&lt;/time&gt; &lt;i class=&quot;icon-group&quot;&gt;&lt;/i&gt; &lt;a href=&quot;#&quot;&gt;Groupname&lt;/a&gt;

			&lt;/div&gt;&lt;!-- end full-article__meta --&gt;

		&lt;/div&gt;

		&lt;div class=&quot;excerpt&quot;&gt;

			{{ excerpt.medium }}
			
		&lt;/div&gt;

		&lt;div class=&quot;article-type-specifics&quot;&gt;

			&lt;div class=&quot;article-type-specifics__intro&quot;&gt;Voting open for &lt;time&gt;3 days&lt;/time&gt;.&lt;/div&gt;

			&lt;ul class=&quot;bare-list article-actions vote-btns&quot;&gt;
				&lt;li&gt;
					&lt;a href=&quot;#&quot; class=&quot;btn btn-vote&quot;&gt;&lt;i class=&quot;icon-ok&quot;&gt;&lt;/i&gt;Yea&lt;/a&gt;
					&lt;div class=&quot;article-actions__meta&quot;&gt;
						&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-legal&quot;&gt;&lt;/i&gt; 3&lt;/a&gt;
						&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-comments&quot;&gt;&lt;/i&gt; 1&lt;/a&gt;
					&lt;/div&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;a href=&quot;#&quot; class=&quot;btn-alt btn-vote&quot;&gt;Nay&lt;/a&gt;
					&lt;div class=&quot;article-actions__meta&quot;&gt;
						&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-legal&quot;&gt;&lt;/i&gt; 5&lt;/a&gt;
						&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-comments&quot;&gt;&lt;/i&gt; 3&lt;/a&gt;
					&lt;/div&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;a href=&quot;#&quot; class=&quot;btn-alt btn-vote&quot;&gt;Abstain&lt;/a&gt;
					&lt;div class=&quot;article-actions__meta&quot;&gt;
						&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-legal&quot;&gt;&lt;/i&gt; 13&lt;/a&gt;
						&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-comments&quot;&gt;&lt;/i&gt; 8&lt;/a&gt;
					&lt;/div&gt;
				&lt;/li&gt;
			&lt;/ul&gt;

		&lt;/div&gt;

		{{&gt; molecules-tags }}

		{{&gt; molecules-general-actions }}

	&lt;/header&gt;

	&lt;div class=&quot;full-article__body&quot;&gt;

		{{&gt; molecules-article-image }}

		&lt;p&gt;
		{{ excerpt.long }}
		&lt;/p&gt;

		&lt;p&gt;
		{{ excerpt.medium }}
		&lt;/p&gt;

		&lt;p&gt;
		{{ excerpt.long }}
		&lt;/p&gt;

		&lt;p&gt;
		{{ excerpt.medium }}
		&lt;/p&gt;

	&lt;/div&gt;

	&lt;div class=&quot;full-article__comments&quot;&gt;

		&lt;header&gt;

			&lt;h3&gt;Discussion&lt;/h3&gt;

			{{&gt; atoms-tabs-with-search }}

		&lt;/header&gt;

		&lt;div class=&quot;create-new&quot;&gt;

			{{&gt; molecules-comment-field }}

		&lt;/div&gt;

		{{&gt; molecules-stream-item }}

		{{&gt; molecules-stream-item }}

		{{&gt; molecules-stream-item }}

		{{&gt; molecules-stream-item }}

		{{&gt; molecules-stream-item }}

		{{&gt; molecules-stream-item }}

		{{&gt; molecules-stream-item }}

		{{&gt; molecules-stream-item }}

		&lt;div class=&quot;pagination&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn-text&quot;&gt;Load more&lt;/a&gt;&lt;/div&gt;

	&lt;/div&gt;

&lt;/div&gt;



