&lt;div class=&quot;full-article box bc-white&quot;&gt;

	&lt;header class=&quot;sticky&quot;&gt;

		&lt;div class=&quot;clearfix&quot;&gt;

			&lt;figure class=&quot;comment__img&quot;&gt;
				&lt;i class=&quot;icon-legal&quot;&gt;&lt;/i&gt;
			&lt;/figure&gt;

			&lt;ul class=&quot;bare-list article-actions&quot;&gt;

				&lt;li&gt;
					&lt;a href=&quot;#&quot; class=&quot;btn-text fixed-only&quot;&gt;&lt;i class=&quot;icon-legal&quot;&gt;&lt;/i&gt; Vote &lt;i class=&quot;icon-double_angle_down&quot;&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;/li&gt;

			&lt;/ul&gt;

			&lt;h2&gt;Energiaremontti 2050&lt;/h2&gt;

			&lt;div class=&quot;full-article__meta&quot;&gt;

				&lt;i class=&quot;icon-avatar&quot;&gt;&lt;/i&gt; &lt;a href=&quot;#&quot;&gt;5 editors&lt;/a&gt; &lt;i class=&quot;icon-pencil&quot;&gt;&lt;/i&gt; &lt;time&gt;About an hour ago&lt;/time&gt; &lt;i class=&quot;icon-group&quot;&gt;&lt;/i&gt; &lt;a href=&quot;#&quot;&gt;Suomen uusenergiset&lt;/a&gt;

			&lt;/div&gt;&lt;!-- end full-article__meta --&gt;

		&lt;/div&gt;

		&lt;div class=&quot;excerpt&quot;&gt;
			K&auml;ynnistet&auml;&auml;n energiaremontti, joka t&auml;ht&auml;&auml; siihen, ett&auml; Suomi siirtyy k&auml;ytt&auml;m&auml;&auml;n ainoastaan uusiutuvaa energiaa vuoteen 2050 menness&auml;.
		&lt;/div&gt;

		{{&gt; molecules-renewable-energy-invites }}

		{{&gt; molecules-renewable-energy-tags }}

		{{&gt; molecules-general-actions }}

	&lt;/header&gt;

	&lt;div class=&quot;full-article__body&quot;&gt;

		{{&gt; molecules-article-image-renewable-energy }}

		&lt;p class=&quot;commentable&quot;&gt;
		S&auml;hk&ouml;n- ja l&auml;mm&ouml;ntuotannossa t&auml;ysin uusiutuvalla energialla toimivaan j&auml;rjestelm&auml;&auml;n siirryt&auml;&auml;n vuoteen 2035 menness&auml;. P&auml;&auml;t&ouml;s ei koske ydinvoimaloita, joista periaatep&auml;&auml;t&ouml;s on jo tehty. Laaditaan energiastrategia, jossa muutokseen tarvittava polku linjataan. K&auml;ynnistet&auml;&auml;n toimenpideohjelma, jolla kivihiilest&auml; s&auml;hk&ouml;n- ja l&auml;mm&ouml;ntuotannossa luovutaan 2025 menness&auml;. Energiaremontissa korostuvat energiatehokkuuden parantaminen, uusiutuvan energian tuotanto, kest&auml;vyys sek&auml; &auml;lykk&auml;iden j&auml;rjestelmien k&auml;ytt&ouml;&ouml;notto sek&auml; cleantech-viennin kasvu.
		&lt;/p&gt;

		&lt;h3 class=&quot;commentable&quot;&gt;
		Perusteet:
		&lt;/h3&gt;

		&lt;p class=&quot;commentable&quot;&gt;
		Energiamarkkinat Euroopassa ja maailmalla ovat rajujen muutosten edess&auml;. T&auml;m&auml; haastaa vanhat toimijat, kuten Suomessakin on viime vuosina n&auml;hty ja toisaalta avaa suuria mahdollisuuksia uusien ratkaisujen tuottajille.
		&lt;/p&gt;

		&lt;p class=&quot;commentable&quot;&gt;
		IEA ennakoi energiamurroksen luovan maailmanlaajuisesti 35 000 miljardin euron kumulatiivisen markkinan seuraavan 20 vuoden aikana. T&auml;m&auml; tarkoittaa valtavaa kysynt&auml;&auml; erityisesti uusiutuvan energiantuotannon, energiatehokkuuden ja &auml;lykk&auml;iden j&auml;rjestelmien ratkaisuille. Komissio on arvoinut, ett&auml; vihre&auml;&auml;n talouteen voitaisiin luoda Euroopassa jopa 20 miljoonaa ty&ouml;paikkaa vuoteen 2020 menness&auml;. 
		&lt;/p&gt;

		&lt;p class=&quot;commentable&quot;&gt;
		Menesty&auml;kseen yritykset tarvitsevat toimivat kotimarkkinat. Uudet ty&ouml;paikat syntyv&auml;tkin sinne, miss&auml; uuden energian ratkaisuja hy&ouml;dynnet&auml;&auml;n. Suomen nykyinen energiapolitiikka on johtanut siihen, ett&auml; kansainv&auml;lisess&auml; uusiutuvan energian investointiymp&auml;rist&ouml;jen vertailussa sijoitumme heikosti, mist&auml; johtuen investoinnit ja ty&ouml;paikat Suomeen j&auml;&auml;v&auml;t syntym&auml;tt&auml;.
		&lt;/p&gt;

		&lt;p class=&quot;commentable&quot;&gt;
		Toimintaymp&auml;rist&ouml;n muutokseen voidaan vastata kirkastamalla energiapolitiikan tavoite ja k&auml;ynnist&auml;m&auml;ll&auml; energiaremontti. Toteutuessaan energiaremontti parantaisi vaihtotasetta miljardeilla sek&auml; lis&auml;isi nopeasti taloudellista toimeliaisuutta ja ty&ouml;paikkoja. Toteutuessaan energiaremontti parantaisi my&ouml;s merkitt&auml;v&auml;sti suomalaisten energiateknologiayritysten kilpailukyky&auml; nopeasti kasvavilla globaaleilla markkinoilla. My&ouml;nteisten talousvaikutusten lis&auml;ksi energiaremontti nostaisi Suomen k&auml;rkijoukkoihin ilmastonmuutoksen vastaisessa taistelussa, minimoisi uusiutumattoman energian ymp&auml;rist&ouml;haitat ja riskit sek&auml; rakentaisi vahvaa Suomi-br&auml;ndi&auml;.
		&lt;/p&gt;

		&lt;p class=&quot;commentable&quot;&gt;
		Energia- ja teknologiamarkkinoilla toimiville yrityksille politiikan pitk&auml;j&auml;nteisyys on t&auml;rke&auml;&auml;. Pitk&auml;j&auml;nteisyys syntyy ainoastaan katsomalla tulevaisuuteen. Ainoa kansainv&auml;lisesti uskottava pitk&auml;n aikav&auml;lin tavoitetila modernille energiaj&auml;rjestelm&auml;lle on suuntautuminen t&auml;ysin uusiutuvaan energiaan. Asettamalla selv&auml;t m&auml;&auml;r&auml;ajat j&auml;rjestelm&auml;n eri osien irrottamiseksi uusiutumattomasta energiasta, Suomi voi antaa markkinoille riitt&auml;v&auml;n vahvan signaalin investointien houkuttelmiseksi ja innovaatioiden ruokkimiseksi.
		&lt;/p&gt;

		&lt;h3 class=&quot;commentable&quot;&gt;
		Energiaremontti k&auml;ynnistyy v&auml;litt&ouml;m&auml;sti seuraavilla askeleilla:
		&lt;/h3&gt;
		&lt;ol&gt;
			&lt;li class=&quot;commentable&quot;&gt;
			Merkitt&auml;vi&auml; investointeja uusiutumattomaan energiantuotantoon ei en&auml;&auml; tehd&auml;. Kaikkien energiainvestointien on t&auml;hd&auml;tt&auml;v&auml; t&auml;ysin uusiutuvilla toimivaan j&auml;rjestelm&auml;&auml;n.
			&lt;/li&gt;
			&lt;li class=&quot;commentable&quot;&gt;
			Vuoden 2020 ja 2030 tavoitteita p&auml;ivitet&auml;&auml;n reippaasti yl&ouml;sp&auml;in
			&lt;ul&gt;
				&lt;li class=&quot;commentable&quot;&gt;
				Energiatehokkuus: olemassa olevat kiinteist&ouml;t, teollisuus ja liikenne
				&lt;/li&gt;

				&lt;li class=&quot;commentable&quot;&gt;
				Tuotanto: tuuli, aurinko, bio ja l&auml;mp&ouml;pumput
				&lt;/li&gt;

				&lt;li class=&quot;commentable&quot;&gt;
				&Auml;lykk&auml;&auml;t j&auml;rjestelm&auml;t: &auml;lyk&auml;s s&auml;hk&ouml;verkko, energian varastointi ja &auml;lyk&auml;s liikenne
				&lt;/li&gt;
			&lt;/ul&gt;
			&lt;/li&gt;
			&lt;li class=&quot;commentable&quot;&gt;
			Fossiilisen energian tuotannon ja kulutuksen tukeminen lopetetaan.
			&lt;/li&gt;
			&lt;li class=&quot;commentable&quot;&gt;
			L&auml;hienergian esteet poistetaan.
			&lt;/li&gt;
		&lt;/ol&gt;

	&lt;/div&gt;

&lt;/div&gt;
