<style>


/*
 * General modifications to styles defined elsewhere
 */

p {
	margin-bottom: 1em;
}
.article__img {
	margin: 0.5em 0.5em 0.25em 0;
}
.comment__img .fa {
	font-size: 28px;
}
/*
 * Menu bar and fixed titlebar
 */

.header--login {
	text-align: center;
}
.header--sticky {
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 20;
}
.nav-primary {
	display: inline-block;
}
.login {
	display: none;
}
.count {
	position: static;
}
header.titlebar-fixed {
	background-color: white;
	border-bottom: solid 1px #666;
	height: 44px !important;
	min-height: 44px !important;
	overflow: hidden !important;
	padding-top: 10px !important;
    position: fixed !important;
    top: 44px !important; /* This is the height + offset of the main menu bar */
    z-index: 10;
}
.fixed-only {
	display: none !important;
}
.titlebar-fixed .fixed-only {
	display: block !important;
}

/*
 * Grid
 */

.g:last-child {
	margin-right: 0;
}
.inactive {
	background-color: #DDD;
	opacity: 0.5;
	transition: all 0.5s ease-out;
}
.inactive header.titlebar-fixed {
	background-color: #DDD;
}
:hover.inactive {
	background-color: white;
	opacity: 1;
}
:hover.inactive header.titlebar-fixed {
	background-color: white;
}


/*
 * Stream
 * Many of the same styles are also used for the full article view
 */

.stream {
	margin: 3em auto 1em auto;
	max-width: 30em;
}
.stream > h2 {
	margin: 0;
}
.stream header .comment__img {
	line-height: 1;
}
.stream .tabs {
	text-align: left;
	width: 100%;
}
.tabs__search {
	float: right;
	font-size: large;
}


/* Header when fixed */
header.titlebar-fixed .comment__img {
	font-size: 120%;
}
header.titlebar-fixed h2 {
	float: left;
	font-size: 120%;
}
header.titlebar-fixed .tabs {
	display: none;
}
header.titlebar-fixed .tabs-as-pulldown {
	float: right;
	text-align: right;
}

/* Stream items */
.stream-item {
	padding-bottom: 1.5em;
	border-bottom: 2px solid #007E84;
	margin: 1em 0 0.5em 0;
	max-width: 30em;
}
.comment__meta {
	font-size: smaller;
}
.comment__meta .name {
	/* font-size: medium; */
}
.comment__meta a.group-name {
	font-weight: 400;
}
.embedded-item {
	border: solid 1px #007E84;
	border-radius: 6px;
	cursor: pointer;
	padding: 0.5em;
}
div:hover.embedded-item {
	background-color: #D3FFFD;
}
.embedded-item__meta {
	font-size: smaller;
}
.embedded-item__meta .embedded-item__title {
	display: block;
	font-size: medium;
}
.embedded-item__meta .action-taken {
	color: #007E84;
}
.embedded-item .article__img {
	clear: left;
	width: 80px;
}
.article-actions {
	text-align: center;
}
.article-actions > li {
	display: inline-block;
}
.article-actions > li > a.btn,
.article-actions > li > a.btn-alt {
	display: block;
	min-width: 7em;
}
div:hover.embedded-item .article-actions > li > a {
	color: #00D3CA;
}
.article-actions i.count {
	position: relative;
	top: -7px;	
}
.event-date {
	border: 1px solid #222;
	padding-bottom: 0.25em;
	text-align: center;
	width: 38px;
}
.event-date__month {
	font-size: x-small;
	text-transform: uppercase;
	background-color: #222;
	color: white;
}
.event-date__day {
	font-size: large;
	color: #222;
}
.tags {
	margin: 0.25em 0;
}
.actions-general {
	text-align: right;
}
.actions-general > a {
	margin: 0 0.5em;
}

.pagination {
	margin-top: 1em;
	text-align: center;
}

/*
 * Full article
 */

.full-article {
	margin: 3em 1em 1em 0;
}


/* Header */
.full-article > header {
    overflow: hidden;
	padding: 0 0 0.5em 0;
	top: 0;
}
.full-article > header,
.full-article > header * {
	transition: all 0.5s ease-out 0s;
}
.full-article > header h2 {
	float: left;
	margin-bottom: 0;
}
.full-article .article-actions {
	float: right;
	margin-top: 0.5em;
}
.full-article__meta {
	float: left;
	font-size: smaller;
	padding-top: 0.25em;
}
.full-article .excerpt {
	clear: both;
	font-size: large;
	font-weight: bold;
	margin: 0.5em 0;
}
.article-type-specifics {
	border: 1px solid #007E84;
	border-radius: 6px;
	clear: both;
	margin-bottom: 0.5em;
	overflow: auto;
	padding: 0.5em;
	text-align: center;
}
.article-type-specifics__intro {
	font-weight: bold;
}
.article-type-specifics .article-actions {
	float: none;
	margin-top: 0.5em;
}
.article-actions__meta {
	font-size: smaller;
	margin-top: 0.25em;
	text-align: center;
}
.article-actions__meta > a{
	margin: 0 0.25em;
}
.full-article header .tags {
	float: left;
}
.full-article header .actions-general {
	float: right;
}

/* Header when fixed */
header.titlebar-fixed .article-actions {
	margin-top: 0;
}
header.titlebar-fixed .excerpt,
header.titlebar-fixed .full-article__meta, 
header.titlebar-fixed .article-type-specifics,
header.titlebar-fixed .tags,
header.titlebar-fixed .actions-general {
	display: none;
}

/* Full article body */
.full-article__body {
	clear: both;
	margin: 1em 0;
}

/* Comments */
.full-article .comment-field {
	margin: 1em 0 0.5em 0;
	max-width: 30em;
}
.full-article .comment-field > textarea {
	width: 85%;
}

</style>

<!-- Repeat this for stuff to work on file: -->
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script>
/* This crap handles fixing the stream and full article headers on top when
   scrolling past them. A class 'fixed' is then added to them. */
$(document).ready(function() {
	var stickies = [],
	    fixedClass = "titlebar-fixed",
	    stickySelector = ".sticky";
	$(stickySelector).each(function(){
		var sticky = $(this);
		sticky.data("originalOffset", sticky.offset().top + sticky.outerHeight() );
		// var menuOffset = $(".header--sticky").offset().top + $(".header--sticky").outerHeight();
		// Force to stay the same width even when position is changed to fixed
		sticky.width(sticky.width());
		stickies.push(sticky);
	});
	if (stickies.length) {
		$(window).scroll(function(){
		    for(var i=0; i<stickies.length; i++) {
				if ($(window).scrollTop() >= stickies[i].data("originalOffset")) stickies[i].addClass(fixedClass);
				else stickies[i].removeClass(fixedClass);
			}
		});
	}
});
</script>