<div class="vcard">
	<div class="org">Company Name</div>
	<div class="adr">
		<div class="street-address">A streetname</div>
		<span class="locality">Anywhere</span>,
		<span class="postal-code">101010</span>,
		<abbr class="region" title="City">CA</abbr>
		<div class="country-name">Country</div>
	</div>
	<div class="tel">+00 1234 5678 910</div>
</div>