{{&gt; atoms-kalles-styles }}

&lt;div class=&quot;page page--with-sticky&quot;&gt;

	{{&gt; organisms-header-with-login }}

	&lt;div class=&quot;grid&quot;&gt;

		&lt;div class=&quot;g g--third inactive&quot;&gt;

			{{&gt; organisms-stream }}

		&lt;/div&gt;

		&lt;div class=&quot;g g--two--thirds&quot;&gt;

			{{&gt; molecules-full-article }}

		&lt;/div&gt;

	&lt;/div&gt;

&lt;/div&gt;