<div class="comment">

	<figure class="comment__img">
		<!--img class="img--round" src="{{ img.avatar.src }}" alt="{{ img.avatar.alt }}" /-->
		<i class="icon-avatar_circle"></i>
	</figure><!-- end comment pic -->

	<div class="comment__meta">

		<a href="#">Firstname Lastname</a>

		<time>About an hour ago</time>
		
	</div><!-- end comment meta -->

	<div class="comment__body">

		{{ excerpt.medium }}

	</div><!-- end comment body -->

	<div class="comment__actions">

		<span class="comment-toggle js-comment-toggle">Comment</span>

	</div><!-- end comment actions -->

	<div class="comment__field">


	</div><!-- end comment field -->

</div><!-- end single comment -->