<div class="comment-field comment-field-argumentation">
	<figure class="comment__img">
		<!--img class="img--round" src="{{ img.avatar.src }}" alt="{{ img.avatar.alt }}" /-->
		<i class="icon-avatar_circle"></i>
	</figure><!-- end comment pic -->

	<div class="btn-group">
		<button class="btn">Agree</button>
		<button class="btn">Disagree</button>
	</div>

	<textarea placeholder="Comment"></textarea>
</div>
