<div class="comment-field">
	<figure class="comment__img">
		<!--img class="img--round" src="{{ img.avatar.src }}" alt="{{ img.avatar.alt }}" /-->
		<i class="icon-avatar_circle"></i>
	</figure><!-- end comment pic -->
	<textarea placeholder="Comment"></textarea>
</div>
