/*------------------------------------*\
    $ALERTS
\*------------------------------------*/

.alert {
  text-align: center;
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid gray;
  background: #f9f9f9; 
}

.alert-error {
  color: red;
  border-color: red;
  background: #ffbebe; 
}

