/*------------------------------------*\
		$BUTTONS
\*------------------------------------*/

.btn {
  display: inline-block;
  background: #B9F6F7;
  color: #00444A;
  line-height: 1;
  font-weight: normal;
  padding: 0.3em;
  border: 0;
  text-align: center;
  border-radius:6px ;}
  .btn:hover{
    background: #48BEC4;
    color: white; }
  .btn:focus {
    background: #007E84;
    color: white; }
  .btn.disabled {
    background: #eeeeee;
    color: white; }
    
.btn-alt {
  display: inline-block;
  background: #EEEEEE;
  color: #222222;
  line-height: 1;
  font-weight: normal;
  padding: 0.3em;
  border: 0;
  text-align: center;
  border-radius:6px ;}
  .btn-alt:hover{
    background: #AAAAAA;
    color: white; }
  .btn-alt:focus {
    background: #222222;
    color: white; }
  .btn-alt.disabled {
    background: #eeeeee;
    color: white; }

.btn-small {
  padding: 0.5em; }

.btn-large {
  padding: 0.5em;
  text-transform: uppercase;
  background: gray;
  font-size: 1.4rem;
  font-weight: normal; }

.text-btn {
  font-style: italic; }



