/*------------------------------------*\
  $COLOR
\*------------------------------------*/


// text colors

.c-base {
  color: $base-color;
}

.c-comp {
  color: $comp-color;
}

.c-grey {
  color: $grey;
}


// background-colors

.bc-base {
  background-color: $base-color;
}

.bc-comp {
  background-color: $comp-color;
}

.bc-grey {
  background-color: $grey;
}
