/*------------------------------------*\
    Links
\*------------------------------------*/

a {
  color: #007E84;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #48BEC4; }
    
a:visited {
    color: #9E0084;
}