/*------------------------------------*\
    Links
\*------------------------------------*/

a {
  color: $base-color;
  text-decoration: none;
  outline: 0; 

  &:visited {
  	color: $comp-color;
  }

  &:focus, &:hover {
  	color: $base-color-light;
  }

}


