/*------------------------------------*\
    Links
\*------------------------------------*/

a {
    background: transparent;
    color: $link-color;

    &:focus {
      outline: thin dotted;
      color: $link-color-focus;

    }

    &:hover, &:active {
        outline: 0;
        color: $link-color-hover;
    }
}



