/*------------------------------------*\
    $ROOT
\*------------------------------------*/

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


html {
  background: $white;                          
  color: $black;                            
  font: {
    family: $base-font;                       
    size: 100%;
    weight: $base-font-weight;
  }
  line-height: $base-line-height;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,.2);
  -webkit-text-size-adjust: 100%;                   
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;                     
}

//  ---------------------------------------------------------------------------
//  Sets base styles.
//  ---------------------------------------------------------------------------

body {
  margin: 0;
  background-color: $white;
}
