/*------------------------------------*\
		$TYPOGRAPHY
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font: {
		family: $base-font;
		weight: $base-heading-font-weight;
	}
	text-rendering: optimizeLegibility;
}

h1,
.alpha {
	margin-bottom: $base-line-height / 3 + em;
	font-weight:bold;
	font: {
		family: $base-heading-font;
		weight: $base-heading-font-weight;
		size: em(32);
	}
	line-height: 1.2;
}

h2,
.beta {
	margin-bottom: $base-line-height / 2 + em;
	font: {
		size: em(28);
	}
	line-height: 1.2;

}

h3,
.gamma {   
	margin-bottom: $base-line-height / 1.5 + em;
	font: {
		size: em(21);
	}
	line-height: 1.3;
}

h4,
.delta {
	margin-bottom: $base-line-height + em;
	font: {
		size: em(18);
	}
	line-height: 1.25;
}

h5,
.epsilon {
	margin-bottom: $base-line-height + em;
	font: {
		size: em(16);
	}
}

h6,
.zeta {
	margin-bottom: $base-line-height + em;
	font: {
		size: em(14);
		weight: 400;
	}
	text-transform: uppercase;
}

p, blockquote {
	margin: 0 0 $base-line-height + em 0;
}

.lead, .lede {
	margin-bottom: 1em;
	line-height: 1.3;
	font-size: 120%;

}


ol,
ul {
	margin: 0 0 $base-line-height + em 0;
	&.unstyled {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

li {
		> ul,
		> ol{
				 margin-bottom:0;
		 }
}

.italic {
	font-style: italic;
}

//  ---------------------------------------------------------------------------
//  Addresses styling not present in IE 8/9, Safari 5, and Chrome.
//  ---------------------------------------------------------------------------

abbr[title] {
	border-bottom: dotted 1px;
	cursor: help;
}

//  ---------------------------------------------------------------------------
//  Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
//  ---------------------------------------------------------------------------

b,
strong {
	font-weight: bold;
}

//  ---------------------------------------------------------------------------
//  Address styling not present in Safari 5 and Chrome.
//  ---------------------------------------------------------------------------

dfn {
	font-style: italic;
}

//  ---------------------------------------------------------------------------
//  Address differences between Firefox and other browsers.
//  ---------------------------------------------------------------------------

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

//  ---------------------------------------------------------------------------
//  Address styling not present in IE 8/9.
//  ---------------------------------------------------------------------------

mark {
	background: #ff0;
	color: #000;
}

//  ---------------------------------------------------------------------------
//  Corrects font family set oddly in Safari 5 and Chrome.
//  ---------------------------------------------------------------------------

code,
kbd,
pre,
samp {
	font-family: $code-font;
	font-size: em(16);
}

//  ---------------------------------------------------------------------------
//  Improves readability of pre-formatted text in all browsers.
//  ---------------------------------------------------------------------------

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

//  ---------------------------------------------------------------------------
//  Set consistent quote types.
//  ---------------------------------------------------------------------------

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

//  ---------------------------------------------------------------------------
//  Addresses inconsistent and variable font size in all browsers.
//  ---------------------------------------------------------------------------

small, .small {
	font-size: 80%;
}

//  ---------------------------------------------------------------------------
//  Prevents `sub` and `sup` affecting `line-height` in all browsers.
//  ---------------------------------------------------------------------------

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}