&lt;ul class=&quot;nav nav--stacked&quot;&gt;

	&lt;li&gt;&lt;i class=&quot;icon-share&quot;&gt;&lt;/i&gt; icon-share&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;icon-wheel&quot;&gt;&lt;/i&gt; icon-wheel&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;icon-minus&quot;&gt;&lt;/i&gt; icon-minus&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;icon-share&quot;&gt;&lt;/i&gt; icon-share&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;icon-share&quot;&gt;&lt;/i&gt; icon-share&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;icon-share&quot;&gt;&lt;/i&gt; icon-share&lt;/li&gt;
	
&lt;/ul&gt;