&lt;form class=&quot;form--login&quot;&gt;

	&lt;div class=&quot;form-row&quot;&gt;
		&lt;input type=&quot;email&quot; placeholder=&quot;Email&quot; /&gt;
	&lt;/div&gt;

	&lt;div class=&quot;form-row&quot;&gt;
		&lt;a class=&quot;float--right pw-forgot&quot; href=&quot;#&quot;&gt;Forgot password?&lt;/a&gt;
		&lt;input type=&quot;password&quot; placeholder=&quot;Password&quot; /&gt;
	&lt;/div&gt;

	&lt;div class=&quot;form-row&quot;&gt;
		&lt;input type=&quot;submit&quot; class=&quot;btn&quot; value=&quot;Sign in&quot; /&gt;
	&lt;/div&gt;

	&lt;div class=&quot;form-row text--center&quot;&gt;
			&lt;span class=&quot;signup-intro&quot;&gt;Don't have an account?&lt;/span&gt;
			&lt;a class=&quot;sign-up btn&quot; href=&quot;#&quot;&gt;Sign Up&lt;/a&gt;
	&lt;/div&gt;

&lt;/form&gt;
