<div class="discussion box bc-white">

	{{> molecules-discussion-comment}}

	{{> molecules-discussion-comment}}

	{{> molecules-discussion-comment}}

	{{> molecules-discussion-comment}}

	{{> molecules-discussion-comment}}

	{{> molecules-discussion-comment}}

	{{> molecules-comment-field}}

</div>
