&lt;div class=&quot;full-article box bc-white&quot;&gt;

	&lt;header class=&quot;sticky&quot;&gt;

		&lt;div class=&quot;clearfix&quot;&gt;

			&lt;figure class=&quot;comment__img&quot;&gt;
				&lt;i class=&quot;icon-legal&quot;&gt;&lt;/i&gt;
			&lt;/figure&gt;

			&lt;ul class=&quot;bare-list article-actions&quot;&gt;

				&lt;li&gt;
					&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;&lt;i class=&quot;icon-pencil&quot;&gt;&lt;/i&gt; Edit&lt;i class=&quot;count c-white bc-comp--light&quot; title=&quot;Number of edits&quot;&gt;3&lt;/i&gt;&lt;/a&gt;
				&lt;/li&gt;

			&lt;/ul&gt;

			&lt;h2&gt;Argumented article title og:title max 95 chars&lt;/h2&gt;

			&lt;div class=&quot;full-article__meta&quot;&gt;

				&lt;i class=&quot;icon-avatar&quot;&gt;&lt;/i&gt; &lt;a href=&quot;#&quot;&gt;5 editors&lt;/a&gt; &lt;i class=&quot;icon-pencil&quot;&gt;&lt;/i&gt; &lt;time&gt;About an hour ago&lt;/time&gt; &lt;i class=&quot;icon-group&quot;&gt;&lt;/i&gt; &lt;a href=&quot;#&quot;&gt;Groupname&lt;/a&gt;

			&lt;/div&gt;&lt;!-- end full-article__meta --&gt;

		&lt;/div&gt;

		&lt;div class=&quot;excerpt&quot;&gt;

			{{ excerpt.medium }}
			
		&lt;/div&gt;

		{{&gt; molecules-tags }}

		{{&gt; molecules-general-actions }}

	&lt;/header&gt;

	&lt;div class=&quot;full-article__body&quot;&gt;

		{{&gt; molecules-article-image }}

		&lt;p&gt;
		{{ excerpt.long }}
		&lt;/p&gt;

		&lt;p&gt;
		{{ excerpt.medium }}
		&lt;/p&gt;

		&lt;p&gt;
		{{ excerpt.long }}
		&lt;/p&gt;

		&lt;p&gt;
		{{ excerpt.medium }}
		&lt;/p&gt;

		&lt;p&gt;
		{{ excerpt.long }}
		&lt;/p&gt;

		&lt;p&gt;
		{{ excerpt.medium }}
		&lt;/p&gt;

		&lt;p&gt;
		{{ excerpt.long }}
		&lt;/p&gt;

		&lt;p&gt;
		{{ excerpt.medium }}
		&lt;/p&gt;

	&lt;/div&gt;

	&lt;div class=&quot;full-article__comments&quot;&gt;

		&lt;header&gt;

			&lt;h3&gt;Discussion&lt;/h3&gt;

			{{&gt; atoms-tabs-with-search }}

		&lt;/header&gt;

		&lt;div class=&quot;create-new&quot;&gt;

			{{&gt; molecules-comment-field-argumentation }}

		&lt;/div&gt;

		&lt;div class=&quot;grid&quot;&gt;

			&lt;div class=&quot;g g--half&quot;&gt;

				&lt;h3&gt;Agree&lt;/h3&gt;

				{{&gt; molecules-stream-item }}

				{{&gt; molecules-stream-item }}

				{{&gt; molecules-stream-item }}

				{{&gt; molecules-stream-item }}

				{{&gt; molecules-stream-item }}

				{{&gt; molecules-stream-item }}

				{{&gt; molecules-stream-item }}

				{{&gt; molecules-stream-item }}

			&lt;/div&gt;

			&lt;div class=&quot;g g--half&quot;&gt;

				&lt;h3&gt;Disagree&lt;/h3&gt;

				{{&gt; molecules-stream-item }}

				{{&gt; molecules-stream-item }}

				{{&gt; molecules-stream-item }}

				{{&gt; molecules-stream-item }}

				{{&gt; molecules-stream-item }}

				{{&gt; molecules-stream-item }}

				{{&gt; molecules-stream-item }}

				{{&gt; molecules-stream-item }}

			&lt;/div&gt;


		&lt;/div&gt;

		&lt;div class=&quot;pagination&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn-text&quot;&gt;Load more&lt;/a&gt;&lt;/div&gt;

	&lt;/div&gt;

&lt;/div&gt;



