<div class="wrap--header bc-grey--lightest header--sticky">

	<header class="header--login l-constrained clearfix" role="banner">

		<a class="site-logo--small">
			<img src="../../assets/img/D-CENT_logo.svg" class="logo" alt="Logo Alt Text" />
		</a>

		{{> organisms-navigation }}

		<div class="login">

			{{> organisms-registration }}

		</div>

	</header>

</div>
