<div class="wrap--header bc-light" style="min-height: 200px;">

	<header class="text--center l-constrained clearfix" role="banner">

		<a class="site-logo--front">
			<img src="../../assets/img//logo.svg" class="logo" alt="Logo Alt Text" />
			<span class="site-logo__text">decentralized tools</span>
		</a>

	</header><!-- end header -->

</div><!-- end wrap header -->
