<div class="wrap--header bc-grey--lightest header--sticky">

	<header class="header--login l-constrained clearfix" role="banner">

		<a class="site-logo--small float--right">
			<img src="../../assets/img/logo.svg" class="logo" alt="Logo Alt Text" />
		</a>

		<span class="float--right btn--sign-in js-open-signin">Sign in</span>

		<div class="login">

			{{> organisms-login }}

		</div>

	</header>

</div>
