<header class="bc-grey header--login clearfix" role="banner">

	<a class="site-logo site-logo--small float--right">	
		<img src="../../images/logo.png" class="logo" alt="Logo Alt Text" />
	</a>

	<span class="float--right btn--sign-in js-open-signin">Sign in</span>


</header>
