<div class="wrap--header bc-light header--sticky">

	<header class="header--login l-constrained clearfix" role="banner">

		<a class="site-logo--small float--right">
			<img src="../../assets/img/logo.svg" class="logo" alt="Logo Alt Text" />
		</a>

		<span class="float--right btn--sign-in js-open-signin">Sign in</span>

		<div class="login">

			<form class="form--login">

				<div class="form-row">
					<input type="email" placeholder="Email" />
				</div>

				<div class="form-row">
					<a class="float--right pw-forgot" href="#">Forgot password?</a>
					<input type="password" placeholder="Password" />
				</div>

				<div class="form-row">
					<input type="submit" class="btn" value="Sign in" />
				</div>

				<div class="form-row text--center">
						<span class="signup-intro">Don't have an account?</span>
						<a class="sign-up btn" href="#">Sign Up</a>
				</div>

			</form>


		</div>


	</header>

</div>
