&lt;div class=&quot;btn-group&quot;&gt;
    &lt;button class=&quot;btn&quot;&gt;Button&lt;/button&gt;
    &lt;button class=&quot;btn&quot;&gt;Button&lt;/button&gt;
&lt;/div&gt;
&lt;hr /&gt;
&lt;div class=&quot;btn-group&quot;&gt;
    &lt;button class=&quot;btn&quot;&gt;Button&lt;/button&gt;
    &lt;button class=&quot;btn&quot;&gt;Button&lt;/button&gt;
    &lt;button class=&quot;btn&quot;&gt;Button&lt;/button&gt;
&lt;/div&gt;
