<p>Muli is the font for all content. Body is 16px (1em), highlighted text, intro to a longer text or blockquotes are 20px (1.25em) bold. Body text when not in a feed is always in black (#22222). A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>