&lt;h1&gt;Heading Level 1 - Lorem ipsum dolor sit amet, consectetuer adi piscing elit - OG Title 95 chars&lt;/h1&gt;
&lt;h2&gt;Heading Level 2 - Lorem ipsum dolor sit amet, consectetuer adi piscing elit - OG Title 95 chars&lt;/h2&gt;
&lt;h3&gt;Heading Level 3 - Subheading&lt;/h3&gt;  
&lt;h4&gt;Heading Level 4 - Subheading&lt;/h4&gt;
&lt;h5&gt;Heading Level 5 - Subheading&lt;/h5&gt; 
&lt;h6&gt;Heading Level 6 - Mainly for navigation&lt;/h6&gt;