
&lt;p class=&quot;c-base&quot;&gt;c-base&lt;/p&gt;
&lt;p class=&quot;c-base--dark&quot;&gt;c-base--dark&lt;/p&gt;
&lt;p class=&quot;c-base--light&quot;&gt;c-base--light&lt;/p&gt;
&lt;p class=&quot;c-base--lightest&quot;&gt;c-base--lightest&lt;/p&gt;


&lt;p class=&quot;c-comp&quot;&gt;c-comp&lt;/p&gt;
&lt;p class=&quot;c-comp--dark&quot;&gt;c-comp--dark&lt;/p&gt;
&lt;p class=&quot;c-comp--light&quot;&gt;c-comp--light&lt;/p&gt;
&lt;p class=&quot;c-comp--lightest&quot;&gt;c-comp--lightest&lt;/p&gt;

&lt;p class=&quot;c-dark&quot;&gt;dark&lt;/p&gt;
&lt;p class=&quot;c-grey&quot;&gt;c-grey&lt;/p&gt;
&lt;p class=&quot;c-grey--light&quot;&gt;c-grey--light&lt;/p&gt;
&lt;p class=&quot;c-grey--lightest&quot;&gt;c-grey--lightest&lt;/p&gt;


&lt;p class=&quot;bc-base&quot; style=&quot;height: 50px; width: 50px&quot;&gt;&lt;/p&gt;
&lt;p class=&quot;bc-comp&quot; style=&quot;height: 50px; width: 50px&quot;&gt;&lt;/p&gt;
&lt;p class=&quot;bc-grey&quot; style=&quot;height: 50px; width: 50px&quot;&gt;&lt;/p&gt;



