<div class="media notification">
	<figure class="media__img">
 		<img class="img--round" src="{{ img.thumb.src }}" alt="{{ img.square.alt }}" />
    </figure>
    <div class="media__body notification__body">
		<h2 class="c-base gamma notification__title">Title</h2>
		<p class="c-base notification__lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   		<span class="notification__meta">21, 345 following</span>
   </div>
</div>
