<div class="registration box">

	<form class="registration__form block--large">

		<div class="grid">

			<div class="g g--half">

				<div class="form-row helper">
					<input type="text" placeholder="First name" />
					<span class="helper__toggle js-helper__toggle">
						<i class="fa fa-question"></i>
					</span>
					<div class="helper__body">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
					</div>
				</div>
				<div class="form-row">
					<input type="text" placeholder="Last name" />
				</div>
				<div class="form-row helper">
					<input type="text" placeholder="Email" />
					<span class="helper__toggle js-helper__toggle">
						<i class="fa fa-question"></i>
					</span>
					<div class="helper__body">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
					</div>
				</div>
				<div class="form-row">
					<input type="text" placeholder="Phone" />
				</div>

			</div>

			<div class="g g--half">

				<div class="form-row">
					<input type="text" placeholder="City" />
				</div>
				<div class="form-row">
					<input type="text" placeholder="Zip" />
				</div>
				<div class="form-row">
					<input type="text" placeholder="Street" />
				</div>
				<div class="form-row">
					<input type="text" placeholder="..etc vcard" />
				</div>

			</div>

		</div><!-- end grid -->

		<div class="registration__action text--right block--large">
			<button class="btn">Save and close</button>
		</div>

	</form>

</div>
