{{&gt; atoms-kalles-styles }}

&lt;div class=&quot;page page--with-sticky&quot;&gt;

	{{&gt; organisms-header-with-login }}

	&lt;div class=&quot;group-info clearfix&quot;&gt;

		&lt;header style=&quot;background-image: url('{{ img.landscape-3x1-darkened.src }}');&quot;&gt;

			&lt;div class=&quot;group-info__container&quot;&gt;

				&lt;ul class=&quot;bare-list article-actions&quot;&gt;

					&lt;li&gt;
						&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;&lt;i class=&quot;icon-group&quot;&gt;&lt;/i&gt; Join group&lt;/a&gt;
					&lt;/li&gt;

				&lt;/ul&gt;

				&lt;h1&gt;Suomen uusenergiset&lt;/h1&gt;

				&lt;div class=&quot;full-article__meta&quot;&gt;

					&lt;i class=&quot;icon-avatar&quot;&gt;&lt;/i&gt; &lt;a href=&quot;#&quot;&gt;35 members&lt;/a&gt; &lt;i class=&quot;fa fa-comments&quot;&gt;&lt;/i&gt; &lt;time&gt;About an hour ago&lt;/time&gt;

				&lt;/div&gt;&lt;!-- end full-article__meta --&gt;

			&lt;/div&gt;

		&lt;/header&gt;

	&lt;/div&gt;

	{{^ article-open }}

	{{&gt; molecules-article-renewable-snapshot }}

	{{/ article-open }}

	&lt;div class=&quot;btn-group article-actions&quot;&gt;
		&lt;button class=&quot;btn btn-text&quot;&gt;Start editing&lt;/button&gt;
		&lt;button class=&quot;btn btn-text&quot;&gt;Put to vote&lt;/button&gt;
	&lt;/div&gt;


	&lt;div class=&quot;discussion box bc-white&quot;&gt;

		{{&gt; molecules-comment-field}}

		{{&gt; molecules-discussion-comment}}

		{{&gt; molecules-discussion-comment}}

		{{&gt; molecules-discussion-comment}}

		{{&gt; molecules-discussion-comment}}

		{{&gt; molecules-discussion-comment}}

		{{&gt; molecules-discussion-comment}}


	&lt;/div&gt;

&lt;/div&gt;
