<h2>Block objects</h2>


<div class="block bc-grey--light" style="margin-bottom: 1.5em">
	block
</div>

<div class="block--large bc-grey--light" style="margin-bottom: 1.5em">
	block--large
</div>

<div class="block--small bc-grey--light" style="margin-bottom: 1.5em">
	block--small
</div>