<h2>Box objects</h2>


<div class="box bc-grey--light" style="margin-bottom: 1.5em">
	box
</div>

<div class="box--large bc-grey--light" style="margin-bottom: 1.5em">
	box--large
</div>

<div class="box--small bc-grey--light" style="margin-bottom: 1.5em">
	box--small
</div>