
<p class="c-base">c-base</p>
<p class="c-base--dark">c-base--dark</p>
<p class="c-base--light">c-base--light</p>
<p class="c-base--lightest">c-base--lightest</p>


<p class="c-comp">c-comp</p>
<p class="c-comp--dark">c-comp--dark</p>
<p class="c-comp--light">c-comp--light</p>
<p class="c-comp--lightest">c-comp--lightest</p>

<p class="c-dark">dark</p>
<p class="c-grey">c-grey</p>
<p class="c-grey--light">c-grey--light</p>
<p class="c-grey--lightest">c-grey--lightest</p>


<p class="bc-base" style="height: 50px; width: 50px"></p>
<p class="bc-comp" style="height: 50px; width: 50px"></p>
<p class="bc-grey" style="height: 50px; width: 50px"></p>



