
<p class="c-base">Lorem ipsum</p>
<p class="c-comp">Lorem ipsum</p>
<p class="c-grey">Lorem ipsum</p>
<p class="bc-base" style="height: 50px; width: 50px"></p>
<p class="bc-comp" style="height: 50px; width: 50px"></p>
<p class="bc-grey" style="height: 50px; width: 50px"></p>
