<div class="media">
	<figure class="media__img">
 		<img class="img--round" src="{{ img.thumb.src }}" alt="{{ img.square.alt }}" />
    </figure>
    <div class="media__body">
		<h2>Otsikko</h2>
   		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   </div>
</div>