<div class="media">
	<figure class="media__img--rev">
 		<img class="img--round" src="{{ img.thumb.src }}" alt="{{ img.square.alt }}" />
    </figure>
    <div class="media__body">
		<h2>Heading Level 2 - Lorem ipsum dolor sit amet, consectetuer adi piscing elit - OG Title 95 chars</h2>
   		<p>Laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Dus autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequatvel - Article OG Description 297 chars.</p>
   </div>
</div>