&lt;h3&gt;Light colors&lt;/h3&gt;
&lt;ul class=&quot;sg-colors light-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #AAAAAA;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#AAAAAA&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #FF61E5;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#FF61E5&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #00444A;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#00444A&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;h3&gt;Subheader colors&lt;/h3&gt;
&lt;ul class=&quot;sg-colors subheader-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #666666;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#666666&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #9E0084;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#9E0084&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #007E84;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#007E84&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;h3&gt;Title colors&lt;/h3&gt;
&lt;ul class=&quot;sg-colors title-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #222222;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#222222&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #690055;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#690055&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #48BEC4;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#48BEC4&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;