&lt;h3&gt;Main Colors&lt;/h3&gt;
&lt;h5&gt;(logged in / not logged in)
&lt;ul class=&quot;sg-colors title-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #222222;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#222222, $body-color, RGB 34,34,34&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #007E84;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#007E84, $base-color, RGB 0,126,132&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;h3&gt;Background colors&lt;/h3&gt;
&lt;h5&gt;(buttons, backgrounds)&lt;/h5&gt;
&lt;ul class=&quot;sg-colors background-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #EEEEEE;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#EEEEEE, $background-gray, RGB 238,238,238&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #FFE6FE;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#FFE6FE, $comp-color-background, RGB 255,230,254&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #B9F6F7;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#B9F6F7, $base-color-background, RGB 185,246,247&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;h3&gt;Light colors&lt;/h3&gt;
&lt;h5&gt;(Icons, notifications, metadata)&lt;/h5&gt;
&lt;ul class=&quot;sg-colors light-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #AAAAAA;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#AAAAAA, $lightgrey, RGB 170,170,170&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #FF61E5;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#FF61E5, $comp-color-light, RGB 255,97,229&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #48BEC4;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#48BEC4, $base-color-light, RGB 72,190,196&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;h3&gt;Subheader colors&lt;/h3&gt;
&lt;ul class=&quot;sg-colors subheader-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #666666;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#666666, $grey, RGB 102,102,102&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #9E0084;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#9E0084, $comp-color, RGB 158,0,132&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #007E84;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#007E84, $base-color, RGB 0,126,132&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;h3&gt;Title colors&lt;/h3&gt;
&lt;h5&gt;(and body colors)&lt;/h5&gt;
&lt;ul class=&quot;sg-colors title-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #222222;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#222222, $body-color, RGB 34,34,34&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #690055;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#690055, $comp-color-dark, RGB 105,0,85&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #00444A;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#00444A, $base-color-dark, RGB 0,68,74&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;

