/*------------------------------------*\
		$HEADER
\*------------------------------------*/

.header--login {
	padding: .5em;
}

.header--sticky {
	position: fixed;
	width: 100%;
	z-index: 999;
}

.btn--sign-in {
	margin-right: 1em;
	padding-top: .25em;
	color: $white;
	cursor: pointer;
}

.site-logo--small {
	max-width: 30px;
}