/*------------------------------------*\
		$NOTIFICATIONS
\*------------------------------------*/

// list

.notifications-list {
	padding: 1.5em 0;
}


// single

.notification {
	position: relative;
	margin-bottom: 1.5em;
	//border-bottom: solid 1px $base-color;
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 15%;
		width: 70%;
		background-color: $base-color;
		height: 1px;

	}
}

.notification:last-child {

}

.notification__title {
	margin-bottom: .25em;
}

.notification__meta {
	font-size: 80%;
}