/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
	display: inline-block;
	background: #B9F6F7;
	color: $base-color;
	line-height: 1;
	font-weight: bold;
	padding: $pad;
	border: 1;
	border-style: solid;
	border-color: $base-color;
	text-align: center;}
	&:hover {
		background: $base-color-light;
		color: $white;
		border-color: $base-color-light;
		border-style: solid;
	}
	&:focus {
		background: $base-color;
		color: $white;
		border-color: $base-color;
		border-style: solid;
	}
	&.disabled {
		background: $gray-light-2;
		color: $gray;
		border-color: $gray-light-2;
		border-style: solid;
	}
}

.btn-small {
	padding: $pad-half;
}

.btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: $gray;
	font-size: 1.4rem;
	font-weight: normal;
}


.text-btn {
	font-style: normal;
}