&lt;div class=&quot;comment&quot;&gt;

	&lt;figure class=&quot;comment__img&quot;&gt;
		&lt;!--img class=&quot;img--round&quot; src=&quot;{{ img.avatar.src }}&quot; alt=&quot;{{ img.avatar.alt }}&quot; /--&gt;
		&lt;i class=&quot;icon-avatar_circle&quot;&gt;&lt;/i&gt;
	&lt;/figure&gt;&lt;!-- end comment pic --&gt;

	&lt;div class=&quot;comment__meta&quot;&gt;

		&lt;a href=&quot;#&quot;&gt;Firstname Lastname&lt;/a&gt;

		&lt;time&gt;About an hour ago&lt;/time&gt;

	&lt;/div&gt;&lt;!-- end comment meta --&gt;

	&lt;div class=&quot;comment__body&quot;&gt;

		{{ excerpt.medium }}

	&lt;/div&gt;&lt;!-- end comment body --&gt;

&lt;/div&gt;&lt;!-- end single comment --&gt;
