&lt;div class=&quot;l-constrained notifications-list&quot;&gt;
	
	{{&gt; molecules-notification }}

	{{&gt; molecules-notification }}

	{{&gt; molecules-notification }}

	{{&gt; molecules-notification }}

	{{&gt; molecules-notification }}

	{{&gt; molecules-notification }}

	{{&gt; molecules-notification }}

	{{&gt; molecules-notification }}

	{{&gt; molecules-notification }}

	{{&gt; molecules-notification }}

&lt;/div&gt;