<ul class="nav nav--stacked">

	<li><i class="icon-share"></i> icon-share</li>
	<li><i class="icon-wheel"></i> icon-wheel</li>
	<li><i class="icon-minus"></i> icon-minus</li>
	<li><i class="icon-share"></i> icon-share</li>
	<li><i class="icon-share"></i> icon-share</li>
	<li><i class="icon-share"></i> icon-share</li>
	
</ul>