
<style>
	
.icons li {
	margin-bottom: 5px;
}

.icons li i {
	margin-right: 10px;
}

</style>
<ul class="nav nav--stacked icons">

	<li> <i class='icon-share'></i>icon-share</li>
	<li> <i class='icon-word'></i>icon-_422</li>
	<li> <i class='icon-excel'></i>icon-_423</li>
	<li> <i class='icon-powerpoint'></i>icon-_424</li>
	<li> <i class='icon-om-_425'></i>icon-_425</li>
	<li> <i class='icon-om-_426'></i>icon-_426</li>
	<li> <i class='icon-audio'></i>icon-_427</li>
	<li> <i class='icon-video'></i>icon-_428</li>
	<li> <i class='icon-code'></i>icon-_429</li>
	<li> <i class='icon-angle_down_circle'></i>icon-angle_down_circle</li>
	<li> <i class='icon-angle_down'></i>icon-angle_down</li>
	<li> <i class='icon-angle_left_circle'></i>icon-angle_left_circle</li>
	<li> <i class='icon-angle_left'></i>icon-angle_left</li>
	<li> <i class='icon-angle_right_circle'></i>icon-angle_right_circle</li>
	<li> <i class='icon-angle_right'></i>icon-angle_right</li>
	<li> <i class='icon-angle_up_circle'></i>icon-angle_up_circle</li>
	<li> <i class='icon-angle_up'></i>icon-angle_up</li>
	<li> <i class='icon-avatar_circle'></i>icon-avatar_circle</li>
	<li> <i class='icon-avatar_outline'></i>icon-avatar_outline</li>
	<li> <i class='icon-avatar_shield'></i>icon-avatar_shield</li>
	<li> <i class='icon-avatar'></i>icon-avatar</li>
	<li> <i class='icon-bars'></i>icon-bars</li>
	<li> <i class='icon-box_blank'></i>icon-box_blank</li>
	<li> <i class='icon-business'></i>icon-business</li>
	<li> <i class='icon-caret_down_sign'></i>icon-caret_down_sign</li>
	<li> <i class='icon-caret_down'></i>icon-caret_down</li>
	<li> <i class='icon-caret_left_sign'></i>icon-caret_left_sign</li>
	<li> <i class='icon-caret_left'></i>icon-caret_left</li>
	<li> <i class='icon-caret_right_sign'></i>icon-caret_right_sign</li>
	<li> <i class='icon-caret_right'></i>icon-caret_right</li>
	<li> <i class='icon-caret_up_sign'></i>icon-caret_up_sign</li>
	<li> <i class='icon-caret_up'></i>icon-caret_up</li>
	<li> <i class='icon-chat_circle'></i>icon-chat_circle</li>
	<li> <i class='icon-chat'></i>icon-chat</li>
	<li> <i class='icon-circle_arrow_down'></i>icon-circle_arrow_down</li>
	<li> <i class='icon-circle_arrow_left'></i>icon-circle_arrow_left</li>
	<li> <i class='icon-circle_arrow_right'></i>icon-circle_arrow_right</li>
	<li> <i class='icon-circle_arrow_up'></i>icon-circle_arrow_up</li>
	<li> <i class='icon-circle_blank'></i>icon-circle_blank</li>
	<li> <i class='icon-circle_search'></i>icon-circle_search</li>
	<li> <i class='icon-clock'></i>icon-clock</li>
	<li> <i class='icon-code'></i>icon-code</li>
	<li> <i class='icon-copy'></i>icon-copy</li>
	<li> <i class='icon-discussion_circle'></i>icon-discussion_circle</li>
	<li> <i class='icon-document_circle'></i>icon-document_circle</li>
	<li> <i class='icon-double_angle_down'></i>icon-double_angle_down</li>
	<li> <i class='icon-double_angle_left'></i>icon-double_angle_left</li>
	<li> <i class='icon-double_angle_right'></i>icon-double_angle_right</li>
	<li> <i class='icon-double_angle_up'></i>icon-double_angle_up</li>
	<li> <i class='icon-edit'></i>icon-edit</li>
	<li> <i class='icon-enter_sign'></i>icon-enter_sign</li>
	<li> <i class='icon-enter'></i>icon-enter</li>
	<li> <i class='icon-exclamation_circle'></i>icon-exclamation_circle</li>
	<li> <i class='icon-facebook_sign'></i>icon-facebook_sign</li>
	<li> <i class='icon-facebook'></i>icon-facebook</li>
	<li> <i class='icon-file_alt'></i>icon-file_alt</li>
	<li> <i class='icon-file_small_circle'></i>icon-file_small_circle</li>
	<li> <i class='icon-file_small'></i>icon-file_small</li>
	<li> <i class='icon-file_text'></i>icon-file_text</li>
	<li> <i class='icon-file'></i>icon-file</li>
	<li> <i class='icon-gallup_circle'></i>icon-gallup_circle</li>
	<li> <i class='icon-gallup'></i>icon-gallup</li>
	<li> <i class='icon-group_circle'></i>icon-group_circle</li>
	<li> <i class='icon-group'></i>icon-group</li>
	<li> <i class='icon-household'></i>icon-household</li>
	<li> <i class='icon-info_circle'></i>icon-info_circle</li>
	<li> <i class='icon-info'></i>icon-info</li>
	<li> <i class='icon-institution'></i>icon-institution</li>
	<li> <i class='icon-iteration_circle'></i>icon-iteration_circle</li>
	<li> <i class='icon-kansalaisaloite'></i>icon-kansalaisaloite</li>
	<li> <i class='icon-keskustelu_circle'></i>icon-keskustelu_circle</li>
	<li> <i class='icon-keskustelu'></i>icon-keskustelu</li>
	<li> <i class='icon-kuntalaisaloite'></i>icon-kuntalaisaloite</li>
	<li> <i class='icon-kysely_circle'></i>icon-kysely_circle</li>
	<li> <i class='icon-kysely'></i>icon-kysely</li>
	<li> <i class='icon-lausuntopalvelu_circle'></i>icon-lausuntopalvelu_circle</li>
	<li> <i class='icon-legal_circle'></i>icon-legal_circle</li>
	<li> <i class='icon-legal'></i>icon-legal</li>
	<li> <i class='icon-light_bulb'></i>icon-light_bulb</li>
	<li> <i class='icon-linkedin_sign'></i>icon-linkedin_sign</li>
	<li> <i class='icon-linkedin'></i>icon-linkedin</li>
	<li> <i class='icon-lock'></i>icon-lock</li>
	<li> <i class='icon-mail_sign'></i>icon-mail_sign</li>
	<li> <i class='icon-mail'></i>icon-mail</li>
	<li> <i class='icon-muu_verkkopalvelu_circle'></i>icon-muu_verkkopalvelu_circle</li>
	<li> <i class='icon-muu_verkkopalvelu'></i>icon-muu_verkkopalvelu</li>
	<li> <i class='icon-ok_sign'></i>icon-ok_sign</li>
	<li> <i class='icon-ok'></i>icon-ok</li>
	<li> <i class='icon-otakantaa'></i>icon-otakantaa</li>
	<li> <i class='icon-paste'></i>icon-paste</li>
	<li> <i class='icon-pencil_circle'></i>icon-pencil_circle</li>
	<li> <i class='icon-pencil'></i>icon-pencil</li>
	<li> <i class='icon-phone'></i>icon-phone</li>
	<li> <i class='icon-plus_circle'></i>icon-plus_circle</li>
	<li> <i class='icon-plus'></i>icon-plus</li>
	<li> <i class='icon-print'></i>icon-print</li>
	<li> <i class='icon-question_circle'></i>icon-question_circle</li>
	<li> <i class='icon-question_default'></i>icon-question_default</li>
	<li> <i class='icon-question_ring'></i>icon-question_ring</li>
	<li> <i class='icon-reload_sign'></i>icon-reload_sign</li>
	<li> <i class='icon-remove_sign'></i>icon-remove_sign</li>
	<li> <i class='icon-ring_left'></i>icon-ring_left</li>
	<li> <i class='icon-ring_outline'></i>icon-ring_outline</li>
	<li> <i class='icon-ring_right'></i>icon-ring_right</li>
	<li> <i class='icon-rss_sign'></i>icon-rss_sign</li>
	<li> <i class='icon-rss'></i>icon-rss</li>
	<li> <i class='icon-search'></i>icon-search</li>
	<li> <i class='icon-save'></i>icon-save</li>
	<li> <i class='icon-sign_blank'></i>icon-sign_blank</li>
	<li> <i class='icon-signin'></i>icon-signin</li>
	<li> <i class='icon-signout'></i>icon-signout</li>
	<li> <i class='icon-small_arrow_down'></i>icon-small_arrow_down</li>
	<li> <i class='icon-small_arrow_left'></i>icon-small_arrow_left</li>
	<li> <i class='icon-small_arrow_right'></i>icon-small_arrow_right</li>
	<li> <i class='icon-small_arrow_up'></i>icon-small_arrow_up</li>
	<li> <i class='icon-spinner'></i>icon-spinner</li>
	<li> <i class='icon-star'></i>icon-star</li>
	<li> <i class='icon-tasks'></i>icon-tasks</li>
	<li> <i class='icon-trash'></i>icon-trash</li>
	<li> <i class='icon-twitter_box'></i>icon-twitter_box</li>
	<li> <i class='icon-twitter'></i>icon-twitter</li>
	<li> <i class='icon-uniF1C1'></i>icon-uniF1C1</li>
	<li> <i class='icon-warning_sign_outline'></i>icon-warning_sign_outline</li>
	<li> <i class='icon-warning_sign'></i>icon-warning_sign</li>
	<li> <i class='icon-youtube_box'></i>icon-youtube_box</li>
	<li> <i class='icon-youtube'></i>icon-youtube</li>
</ul>

	
