<div class="wrap bc-light">

	<div class="profile">

		<figure class="profile__img">
 			<img class="img--round" src="{{ img.thumb.src }}" alt="{{ img.square.alt }}" />
    	</figure>

    	<form class="profile__form">

				<div class="form-row">
					<input type="text" placeholder="First name" />
				</div>

				<div class="form-row">
					<input type="text" placeholder="Last name" />
				</div>

				<div class="form-row">
					<textarea placeholder="lorem ipsum"></textarea>
				</div>

		</form>


	</div>

</div><!-- end wrap profile -->