&lt;div class=&quot;argumenting box bc-white&quot;&gt;

	{{&gt; molecules-discussion-comment}}

	&lt;div class=&quot;grid block--large&quot;&gt;

		&lt;div class=&quot;g g--half&quot;&gt;

			{{&gt; molecules-discussion-comment}}
			{{&gt; molecules-discussion-comment}}
			{{&gt; molecules-discussion-comment}}

		&lt;/div&gt;

		&lt;div class=&quot;g g--half&quot;&gt;

			{{&gt; molecules-discussion-comment}}
			{{&gt; molecules-discussion-comment}}
			{{&gt; molecules-discussion-comment}}

		&lt;/div&gt;

	&lt;/div&gt;

	&lt;div class=&quot;grid&quot;&gt;

		&lt;div class=&quot;g g--half block--large text--right&quot;&gt;
         	&lt;i class=&quot;icon-avatar_circle&quot;&gt;&lt;/i&gt;
			&lt;div class=&quot;btn-group&quot;&gt;
				&lt;button class=&quot;btn&quot;&gt;Agree&lt;/button&gt;
				&lt;button class=&quot;btn&quot;&gt;Disagree&lt;/button&gt;
			&lt;/div&gt;

		&lt;/div&gt;

		&lt;div class=&quot;g g--half  block--large&quot;&gt;

			&lt;div class=&quot;comment-field&quot;&gt;
				&lt;textarea placeholder=&quot;Comment&quot;&gt;&lt;/textarea&gt;
			&lt;/div&gt;

		&lt;/div&gt;

	&lt;/div&gt;

&lt;/div&gt;
