/*------------------------------------*\
	$CONFIG
\*------------------------------------*/

/*------------------------------------*\
	Greyscale
\*------------------------------------*/

$black						: rgb(0,0,0);
$darkgrey					: lighten(black, 25%);
$grey						: #666666;
$lightgrey					: #AAAAAA;
$lightergrey				: lighten(black, 94%);
$white						: rgb(255, 255, 255);


/*------------------------------------*\
	Typography
\*------------------------------------*/

$base-font					: "Muli", "Helvetica", sans-serif;
$base-font-size             : 16;
$base-font-weight			: 400;
$base-line-height			: 1.5;

$base-heading-font			: "Comfortaa", sans-serif;;
$base-heading-font-weight	: 400;

$alt-font					: "Helvetica Neue", Helvetica, Arial, sans-serif;
$alt-line-height			: 1.4;

$code-font					: $base-font;


/*------------------------------------*\
	Colors. Use meaningful names
\*------------------------------------*/

$body-color					: #222222;
$body-background-color		: $white;

$base-color					: #007E84;
$base-color-light			: #48BEC4;
$base-color-dark			: #00444A;
$comp-color					: #9E0084;
$comp-color-light			: #FF61E5;
$comp-color-dark			: #690055;
$border-color				: lighten($base-color, 60);

$transparent                : rgba(0, 0, 0, 0);



/*------------------------------------*\
	Links
\*------------------------------------*/

$link-color					: $comp-color;
$link-color-hover			: darken($link-color, 10);
$link-color-visited			: darken($link-color, 10);
$link-color-focus			: darken($link-color-visited, 10);

/*------------------------------------*\
	Buttons
\*------------------------------------*/


/*------------------------------------*\
	Tables
\*------------------------------------*/

$table-border-width			: 1px;
$table-border-style			: solid;


$table-background-color		: transparent;
$table-border-color			: $lightgrey;
$table-hover-color			: lighten($base-color, 50);
$table-stripe				: lighten($base-color, 60);


/*------------------------------------*\
	Enable styles
\*------------------------------------*/

$use-nav				    : true!default;
$use-media				    : true!default;
$wordpress					: true!default; 






