<div class="block block-thumb">
	    <div class="b-thumb">
			{{> atoms-square }}
		</div>
		<div class="b-text">
			<a href="{{ url }}"><h2 class="b-title">{{ headline.short }}</h2></a>
			<p>{{ excerpt.medium }}</p>
		</div>
	
</div>