<h3>Main Colors</h3>
<h5>(logged in / not logged in)
<ul class="sg-colors title-colors">
	<li>
		<span class="sg-swatch" style="background: #222222;"></span>
		<span class="sg-label">#222222, $body-color, RGB 34,34,34</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #007E84;"></span>
		<span class="sg-label">#007E84, $base-color, RGB 0,126,132</span>
	</li>
</ul>
<br>
<h3>Background colors</h3>
<h5>(buttons, backgrounds)</h5>
<ul class="sg-colors background-colors">
	<li>
		<span class="sg-swatch" style="background: #EEEEEE;"></span>
		<span class="sg-label">#EEEEEE, $background-gray, RGB 238,238,238</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFE6FE;"></span>
		<span class="sg-label">#FFE6FE, $comp-color-background, RGB 255,230,254</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #B9F6F7;"></span>
		<span class="sg-label">#B9F6F7, $base-color-background, RGB 185,246,247</span>
	</li>
</ul>
<br>
<h3>Light colors</h3>
<h5>(Icons, notifications, metadata)</h5>
<ul class="sg-colors light-colors">
	<li>
		<span class="sg-swatch" style="background: #AAAAAA;"></span>
		<span class="sg-label">#AAAAAA, $lightgrey, RGB 170,170,170</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FF61E5;"></span>
		<span class="sg-label">#FF61E5, $comp-color-light, RGB 255,97,229</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #48BEC4;"></span>
		<span class="sg-label">#48BEC4, $base-color-light, RGB 72,190,196</span>
	</li>
</ul>
<br>
<h3>Subheader colors</h3>
<ul class="sg-colors subheader-colors">
	<li>
		<span class="sg-swatch" style="background: #666666;"></span>
		<span class="sg-label">#666666, $grey, RGB 102,102,102</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #9E0084;"></span>
		<span class="sg-label">#9E0084, $comp-color, RGB 158,0,132</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #007E84;"></span>
		<span class="sg-label">#007E84, $base-color, RGB 0,126,132</span>
	</li>
</ul>
<br>
<h3>Title colors</h3>
<h5>(and body colors)</h5>
<ul class="sg-colors title-colors">
	<li>
		<span class="sg-swatch" style="background: #222222;"></span>
		<span class="sg-label">#222222, $body-color, RGB 34,34,34</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #690055;"></span>
		<span class="sg-label">#690055, $comp-color-dark, RGB 105,0,85</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #00444A;"></span>
		<span class="sg-label">#00444A, $base-color-dark, RGB 0,68,74</span>
	</li>
</ul>

