<h3>Light colors</h3>
<ul class="sg-colors light-colors">
	<li>
		<span class="sg-swatch" style="background: #AAAAAA;"></span>
		<span class="sg-label">#AAAAAA</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FF61E5;"></span>
		<span class="sg-label">#FF61E5</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #00444A;"></span>
		<span class="sg-label">#00444A</span>
	</li>
</ul>
<h3>Subheader colors</h3>
<ul class="sg-colors subheader-colors">
	<li>
		<span class="sg-swatch" style="background: #666666;"></span>
		<span class="sg-label">#666666</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #9E0084;"></span>
		<span class="sg-label">#9E0084</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #007E84;"></span>
		<span class="sg-label">#007E84</span>
	</li>
</ul>
<h3>Title colors</h3>
<ul class="sg-colors title-colors">
	<li>
		<span class="sg-swatch" style="background: #222222;"></span>
		<span class="sg-label">#222222</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #690055;"></span>
		<span class="sg-label">#690055</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #48BEC4;"></span>
		<span class="sg-label">#48BEC4</span>
	</li>
</ul>