<p class="font-headings">Header font: "Comfortaa", "Helvetica", "Arial", sans-serif;</p>
<p class="font-headings"><strong>Header font strong: "Comfortaa", "Helvetica", "Arial", sans-serif;</strong></p>
<!--p class="font-headings"><em>Header font italic: "Comfortaa", "Helvetica", "Arial", sans-serif;</em></p-->
<ul class="font-headings"> Link to Comfortaa font <a href="http://www.google.com/fonts#UsePlace:use/Collection:Comfortaa">here</a></ul>
<p class="font-body">Body font: "Muli", sans-serif;</p>
<p class="font-body"><strong>Body font bold: "Muli", sans-serif;</strong></p>
<p class="font-body"><em>Body font italic: "Muli", sans-serif;</em></p>
<ul class="font-body">Link to Muli font <a href="https://github.com/vernnobile/MuliFont/tree/master/version-1.0">here.</a></ul>