<p class="font-headings">Header font: "Comfortaa", "Helvetica", "Arial", sans-serif;</p>
<p class="font-headings"><strong>Header font italic: "Comfortaa", "Helvetica", "Arial", sans-serif;</strong></p>
<p class="font-headings"><em>Header font italic: "Comfortaa", "Helvetica", "Arial", sans-serif;</em></p>
<p>Body font: "Muli", sans-serif;</p>
<p><strong>Body font bold: "Muli", sans-serif;</strong></p>
<p><em>Body font italic: "Muli", sans-serif;</em></p>