<p class="font-headings">Header font: "Comfortaa", "Helvetica", "Arial", sans-serif;</p>
<p class="font-headings"><strong>Header font italic: "Comfortaa", "Helvetica", "Arial", sans-serif;</strong></p>
<p class="font-headings"><em>Header font italic: "Comfortaa", "Helvetica", "Arial", sans-serif;</em></p>
<p>Body font: "Raleway", sans-serif;</p>
<p><strong>Body font bold: "Ralway", sans-serif;</strong></p>
<p><em>Body font italic: "Raleway", sans-serif;</em></p>
<p class="font-profile"><strong>Profile and group names: "Fredoka One", cursive;</strong></p>
