<h2 class="block">Halves</h2>

<div class="grid">
	<div class="g g--half" style="height: 100px; background: grey;"></div>
	<div class="g g--half" style="height: 100px; background: grey;"></div>
</div>

<h2 class="block">Thirds</h2>

<div class="grid">
	<div class="g g--third" style="height: 100px; background: grey;"></div>
	<div class="g g--third" style="height: 100px; background: grey;"></div>
	<div class="g g--third" style="height: 100px; background: grey;"></div>
</div>

<h2 class="block">Fourths</h2>

<div class="grid">
	<div class="g g--fourth" style="height: 100px; background: grey;"></div>
	<div class="g g--fourth" style="height: 100px; background: grey;"></div>
	<div class="g g--fourth" style="height: 100px; background: grey;"></div>
	<div class="g g--fourth" style="height: 100px; background: grey;"></div>
</div>
